In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

opinions = pd.read_csv('Yale_Climate_Opinions.csv')

## Climate Opinion Data

In [20]:
cbsa_opinions = opinions[opinions.GeoType=="CBSA"]

In [21]:
pd.options.display.max_columns=100
cbsa_opinions.head()

,GeoType,GEOID,GeoName,TotalPop,discuss,discussOppose,reducetax,reducetaxOppose,CO2limits,CO2limitsOppose,localofficials,localofficialsOppose,governor,governorOppose,congress,congressOppose,president,presidentOppose,corporations,corporationsOppose,citizens,citizensOppose,regulate,regulateOppose,supportRPS,supportRPSOppose,drilloffshore,drilloffshoreOppose,drillANWR,drillANWROppose,fundrenewables,fundrenewablesOppose,rebates,rebatesOppose,mediaweekly,mediaweeklyOppose,gwvoteimp,gwvoteimpOppose,teachGW,teachGWOppose,priority,priorityOppose,happening,happeningOppose,human,humanOppose,consensus,consensusOppose,worried,worriedOppose,personal,personalOppose,harmUS,harmUSOppose,devharm,devharmOppose,futuregen,futuregenOppose,harmplants,harmplantsOppose,timing,timingOppose,affectweather,affectweatherOppose
3630,CBSA,10100,"Aberdeen, SD",32537,32.062,67.913,61.905,37.431,62.606,37.007,47.057,17.159,45.594,17.205,52.992,21.296,52.980,13.216,65.768,11.396,59.163,12.432,70.796,28.165,61.173,37.010,57.393,41.669,35.513,64.109,84.547,14.682,80.136,18.788,24.962,74.767,48.327,40.634,72.686,26.945,42.478,27.068,66.159,15.979,51.649,37.041,51.302,28.761,56.314,43.735,35.188,55.500,54.833,35.956,58.352,29.087,67.677,23.097,68.116,23.084,48.741,51.255,58.297,7.250
3631,CBSA,10140,"Aberdeen, WA",57009,36.515,63.218,64.749,34.752,66.511,33.081,49.520,17.360,44.146,21.558,56.381,21.230,57.619,12.573,68.589,10.623,61.745,11.793,71.429,27.738,61.915,38.150,50.041,49.076,32.020,67.638,84.401,15.040,79.831,19.581,27.504,71.783,51.341,36.829,74.988,24.970,46.619,26.550,69.182,14.057,53.290,34.998,50.673,28.332,58.796,41.183,38.527,53.107,58.393,33.323,62.511,26.196,68.842,22.246,69.614,22.602,52.900,47.096,60.108,6.802
3632,CBSA,10180,"Abilene, TX",129610,29.539,70.491,59.738,40.116,57.858,42.164,46.311,19.088,45.244,19.567,49.406,25.817,50.421,17.323,62.212,13.654,56.557,15.176,66.797,33.178,56.461,42.380,61.397,38.927,35.412,64.243,81.157,18.920,76.723,23.133,23.146,76.720,52.163,36.403,71.339,28.989,43.564,31.126,60.471,18.649,49.543,38.356,43.359,31.271,54.973,45.151,37.313,52.757,54.107,36.042,57.837,28.963,62.905,25.922,63.085,26.330,47.981,52.019,51.169,8.031
3633,CBSA,10220,"Ada, OK",29222,29.563,70.276,57.614,41.934,59.154,40.401,45.719,19.776,43.676,20.611,49.158,27.110,48.617,18.127,61.601,12.453,55.102,15.040,66.597,33.488,57.429,41.277,62.453,37.099,40.675,58.244,81.223,19.006,77.274,21.699,21.446,77.904,49.908,39.436,69.290,30.833,43.084,31.004,64.181,18.404,48.775,38.389,41.561,33.341,53.381,46.616,35.466,54.599,52.515,36.907,56.245,29.601,61.337,26.682,61.748,27.982,48.159,51.838,53.056,8.223
3634,CBSA,10300,"Adrian, MI",77365,30.647,69.083,64.379,35.345,63.063,36.597,47.815,16.116,48.735,16.497,51.850,20.164,52.608,12.992,66.251,10.578,58.502,12.353,72.914,26.089,61.997,36.143,59.164,39.550,34.200,64.669,85.643,13.734,81.218,17.856,22.836,76.678,50.276,39.240,71.937,27.861,40.865,29.128,62.619,16.599,51.781,36.625,48.778,29.515,53.418,46.720,35.557,55.466,54.706,35.276,59.062,26.992,66.535,21.718,66.556,23.472,47.777,52.221,58.820,6.880

In [22]:
cbsa_opinions.drop(labels=['affectweatherOppose', 'affectweather', 'harmplantsOppose', 
                          'harmplants', 'devharmOppose','devharm','harmUSOppose', 'harmUS',
                          'personalOppose', 'personal', 'teachGWOppose', 'teachGW', 'gwvoteimpOppose',
                          'gwvoteimp', 'mediaweeklyOppose', 'mediaweekly','rebatesOppose','rebates',
                          'drillANWROppose', 'drillANWR', 'drilloffshoreOppose', 'drilloffshore', 'CO2limitsOppose',
                          'CO2limits', 'corporationsOppose','corporations', 'presidentOppose','president',
                          'congressOppose','congress', 'governorOppose','governor','localofficialsOppose',
                          'localofficials', 'reducetaxOppose','reducetax', 'timingOppose',
                          'timing', 'futuregenOppose','futuregen', 'consensusOppose', 'consensus',
                          'priorityOppose', 'priority', 'fundrenewables', 'fundrenewablesOppose',
                          'supportRPS', 'supportRPSOppose'], axis=1, inplace=True)

In [23]:
cbsa_opinions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 933 entries, 3630 to 4562
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GeoType          933 non-null    object
 1   GEOID            933 non-null    int64
 2   GeoName          933 non-null    object
 3   TotalPop         933 non-null    int64
 4   discuss          933 non-null    float64
 5   discussOppose    933 non-null    float64
 6   citizens         933 non-null    float64
 7   citizensOppose   933 non-null    float64
 8   regulate         933 non-null    float64
 9   regulateOppose   933 non-null    float64
 10  happening        933 non-null    float64
 11  happeningOppose  933 non-null    float64
 12  human            933 non-null    float64
 13  humanOppose      933 non-null    float64
 14  worried          933 non-null    float64
 15  worriedOppose    933 non-null    float64
dtypes: float64(12), int64(2), object(2)
memory usage: 123.9+ KB

In [24]:
cbsa_opinions.head()

,GeoType,GEOID,GeoName,TotalPop,discuss,discussOppose,citizens,citizensOppose,regulate,regulateOppose,happening,happeningOppose,human,humanOppose,worried,worriedOppose
3630,CBSA,10100,"Aberdeen, SD",32537,32.062,67.913,59.163,12.432,70.796,28.165,66.159,15.979,51.649,37.041,56.314,43.735
3631,CBSA,10140,"Aberdeen, WA",57009,36.515,63.218,61.745,11.793,71.429,27.738,69.182,14.057,53.290,34.998,58.796,41.183
3632,CBSA,10180,"Abilene, TX",129610,29.539,70.491,56.557,15.176,66.797,33.178,60.471,18.649,49.543,38.356,54.973,45.151
3633,CBSA,10220,"Ada, OK",29222,29.563,70.276,55.102,15.040,66.597,33.488,64.181,18.404,48.775,38.389,53.381,46.616
3634,CBSA,10300,"Adrian, MI",77365,30.647,69.083,58.502,12.353,72.914,26.089,62.619,16.599,51.781,36.625,53.418,46.720

In [25]:
discuss_average= 35
regulate_average = 75
citizens_average = 64
happening_average = 72
human_average = 57
worried_average = 63

av_list = [discuss_average, regulate_average, citizens_average, happening_average, human_average,worried_average]
col_list = ['discuss', 'regulate', 'citizens', 'happening', 'human', 'worried']

In [26]:
def distance_from_nat_average(row, nat_average):
    difference = row-nat_average 
    return difference

for av, col in zip(av_list, col_list):
    cbsa_opinions[f'{col}_distance_from_natav'] = cbsa_opinions.apply(lambda x: distance_from_nat_average(x[col], av), axis=1)

In [27]:
cbsa_opinions

,GeoType,GEOID,GeoName,TotalPop,discuss,discussOppose,citizens,citizensOppose,regulate,regulateOppose,happening,happeningOppose,human,humanOppose,worried,worriedOppose,discuss_distance_from_natav,regulate_distance_from_natav,citizens_distance_from_natav,happening_distance_from_natav,human_distance_from_natav,worried_distance_from_natav
3630,CBSA,10100,"Aberdeen, SD",32537,32.062,67.913,59.163,12.432,70.796,28.165,66.159,15.979,51.649,37.041,56.314,43.735,-2.938,-4.204,-4.837,-5.841,-5.351,-6.686
3631,CBSA,10140,"Aberdeen, WA",57009,36.515,63.218,61.745,11.793,71.429,27.738,69.182,14.057,53.290,34.998,58.796,41.183,1.515,-3.571,-2.255,-2.818,-3.710,-4.204
3632,CBSA,10180,"Abilene, TX",129610,29.539,70.491,56.557,15.176,66.797,33.178,60.471,18.649,49.543,38.356,54.973,45.151,-5.461,-8.203,-7.443,-11.529,-7.457,-8.027
3633,CBSA,10220,"Ada, OK",29222,29.563,70.276,55.102,15.040,66.597,33.488,64.181,18.404,48.775,38.389,53.381,46.616,-5.437,-8.403,-8.898,-7.819,-8.225,-9.619
3634,CBSA,10300,"Adrian, MI",77365,30.647,69.083,58.502,12.353,72.914,26.089,62.619,16.599,51.781,36.625,53.418,46.720,-4.353,-2.086,-5.498,-9.381,-5.219,-9.582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4558,CBSA,49660,"Youngstown-Warren-Boardman, OH-PA",434413,30.376,69.540,60.714,11.273,74.483,24.362,69.668,12.828,53.024,37.167,59.471,40.649,-4.624,-0.517,-3.286,-2.332,-3.976,-3.529
4559,CBSA,49700,"Yuba City, CA",125381,36.351,63.454,61.377,12.499,70.749,28.106,68.497,12.821,54.146,33.203,60.669,39.231,1.351,-4.251,-2.623,-3.503,-2.854,-2.331
4560,CBSA,49740,"Yuma, AZ",154560,34.295,65.074,61.048,11.301,71.939,26.929,71.088,12.021,56.449,31.979,64.589,34.709,-0.705,-3.061,-2.952,-0.912,-0.551,1.589
4561,CBSA,49780,"Zanesville, OH",66245,27.259,72.511,56.718,12.532,71.036,28.197,62.996,16.697,48.932,38.747,53.346,46.665,-7.741,-3.964,-7.282,-9.004,-8.068,-9.654
4562,CBSA,49820,"Zapata, TX",9553,39.977,59.887,72.124,8.322,77.128,21.124,80.341,5.914,70.648,22.579,77.766,22.234,4.977,2.128,8.124,8.341,13.648,14.766

In [28]:
cbsa_opinions.drop(labels=['discussOppose', 'citizensOppose', 'regulateOppose', 'happeningOppose', 'humanOppose',
                          'worriedOppose'], axis=1, inplace=True)
cbsa_opinions.reset_index(inplace=True)

In [33]:
cbsa_opinions.GeoName.unique()

array(['Aberdeen, SD', 'Aberdeen, WA', 'Abilene, TX', 'Ada, OK',
       'Adrian, MI', 'Akron, OH', 'Alamogordo, NM', 'Albany, GA',
       'Albany, OR', 'Albany-Schenectady-Troy, NY', 'Albemarle, NC',
       'Albert Lea, MN', 'Albertville, AL', 'Albuquerque, NM',
       'Alexander City, AL', 'Alexandria, LA', 'Alexandria, MN',
       'Alice, TX', 'Allentown-Bethlehem-Easton, PA-NJ', 'Alma, MI',
       'Alpena, MI', 'Altoona, PA', 'Altus, OK', 'Amarillo, TX',
       'Americus, GA', 'Ames, IA', 'Amsterdam, NY', 'Anchorage, AK',
       'Andrews, TX', 'Angola, IN', 'Ann Arbor, MI',
       'Anniston-Oxford-Jacksonville, AL', 'Appleton, WI', 'Arcadia, FL',
       'Ardmore, OK', 'Arkadelphia, AR', 'Arkansas City-Winfield, KS',
       'Asheville, NC', 'Ashland, OH', 'Ashtabula, OH', 'Astoria, OR',
       'Atchison, KS', 'Athens, OH', 'Athens, TN', 'Athens, TX',
       'Athens-Clarke County, GA', 'Atlanta-Sandy Springs-Roswell, GA',
       'Atlantic City-Hammonton, NJ', 'Atmore, AL', 'Auburn, IN',
       'Auburn, NY', 'Auburn-Opelika, AL',
       'Augusta-Richmond County, GA-SC', 'Augusta-Waterville, ME',
       'Austin, MN', 'Austin-Round Rock, TX', 'Bainbridge, GA',
       'Bakersfield, CA', 'Baltimore-Columbia-Towson, MD', 'Bangor, ME',
       'Baraboo, WI', 'Bardstown, KY', 'Barnstable Town, MA', 'Barre, VT',
       'Bartlesville, OK', 'Bastrop, LA', 'Batavia, NY', 'Batesville, AR',
       'Baton Rouge, LA', 'Battle Creek, MI', 'Bay City, MI',
       'Bay City, TX', 'Beatrice, NE', 'Beaumont-Port Arthur, TX',
       'Beaver Dam, WI', 'Beckley, WV', 'Bedford, IN', 'Beeville, TX',
       'Bellefontaine, OH', 'Bellingham, WA', 'Bemidji, MN',
       'Bend-Redmond, OR', 'Bennettsville, SC', 'Bennington, VT',
       'Berlin, NH-VT', 'Big Rapids, MI', 'Big Spring, TX',
       'Big Stone Gap, VA', 'Billings, MT', 'Binghamton, NY',
       'Birmingham-Hoover, AL', 'Bismarck, ND', 'Blackfoot, ID',
       'Blacksburg-Christiansburg-Radford, VA', 'Bloomington, IL',
       'Bloomington, IN', 'Bloomsburg-Berwick, PA', 'Bluefield, WV-VA',
       'Blytheville, AR', 'Bogalusa, LA', 'Boise City, ID', 'Bonham, TX',
       'Boone, IA', 'Boone, NC', 'Borger, TX',
       'Boston-Cambridge-Newton, MA-NH', 'Boulder, CO',
       'Bowling Green, KY', 'Bozeman, MT', 'Bradford, PA', 'Brainerd, MN',
       'Branson, MO', 'Breckenridge, CO', 'Bremerton-Silverdale, WA',
       'Brenham, TX', 'Brevard, NC', 'Bridgeport-Stamford-Norwalk, CT',
       'Brookhaven, MS', 'Brookings, OR', 'Brookings, SD',
       'Brownsville, TN', 'Brownsville-Harlingen, TX', 'Brownwood, TX',
       'Brunswick, GA', 'Bucyrus, OH',
       'Buffalo-Cheektowaga-Niagara Falls, NY', 'Burley, ID',
       'Burlington, IA-IL', 'Burlington, NC',
       'Burlington-South Burlington, VT', 'Butte-Silver Bow, MT',
       'Cadillac, MI', 'Calhoun, GA', 'California-Lexington Park, MD',
       'Cambridge, MD', 'Cambridge, OH', 'Camden, AR',
       'Campbellsville, KY', 'Ca�on City, CO', 'Canton, IL',
       'Canton-Massillon, OH', 'Cape Coral-Fort Myers, FL',
       'Cape Girardeau, MO-IL', 'Carbondale-Marion, IL',
       'Carlsbad-Artesia, NM', 'Carroll, IA', 'Carson City, NV',
       'Casper, WY', 'Cedar City, UT', 'Cedar Rapids, IA',
       'Cedartown, GA', 'Celina, OH', 'Central City, KY', 'Centralia, IL',
       'Centralia, WA', 'Chambersburg-Waynesboro, PA',
       'Champaign-Urbana, IL', 'Charleston, WV', 'Charleston-Mattoon, IL',
       'Charleston-North Charleston, SC',
       'Charlotte-Concord-Gastonia, NC-SC', 'Charlottesville, VA',
       'Chattanooga, TN-GA', 'Cheyenne, WY',
       'Chicago-Naperville-Elgin, IL-IN-WI', 'Chico, CA',
       'Chillicothe, OH', 'Cincinnati, OH-KY-IN',
       'Claremont-Lebanon, NH-VT', 'Clarksburg, WV', 'Clarksdale, MS',
       'Clarksville, TN-KY', 'Clearlake, CA', 'Cleveland, MS',
       'Cleveland, TN', 'Cleveland-Elyria, OH', 'Clewiston, FL',
       'Clinton, IA', 'Clovis, NM', "Coeur d'Alene, ID",
       'Coffeyville, KS', 'Coldwater, MI', 'College Station-Bryan, TX',
       'Colorado Springs, CO', 'Columbia, MO', 'Columbia, SC',
       'Columbus, GA-AL', 'Columbus, IN', 'Columbus, MS', 'Columbus, NE',
       'Columbus, OH', 'Concord, NH', 'Connersville, IN',
       'Cookeville, TN', 'Coos Bay, OR', 'Cordele, GA', 'Corinth, MS',
       'Cornelia, GA', 'Corning, NY', 'Corpus Christi, TX',
       'Corsicana, TX', 'Cortland, NY', 'Corvallis, OR', 'Coshocton, OH',
       'Craig, CO', 'Crawfordsville, IN', 'Crescent City, CA',
       'Crestview-Fort Walton Beach-Destin, FL', 'Crossville, TN',
       'Cullman, AL', 'Cullowhee, NC', 'Cumberland, MD-WV',
       'Dallas-Fort Worth-Arlington, TX', 'Dalton, GA', 'Danville, IL',
       'Danville, KY', 'Danville, VA', 'Daphne-Fairhope-Foley, AL',
       'Davenport-Moline-Rock Island, IA-IL', 'Dayton, OH', 'Dayton, TN',
       'Decatur, AL', 'Decatur, IL', 'Decatur, IN', 'Defiance, OH',
       'Del Rio, TX', 'Deltona-Daytona Beach-Ormond Beach, FL',
       'Deming, NM', 'Denver-Aurora-Lakewood, CO', 'DeRidder, LA',
       'Des Moines-West Des Moines, IA', 'Detroit-Warren-Dearborn, MI',
       'Dickinson, ND', 'Dixon, IL', 'Dodge City, KS', 'Dothan, AL',
       'Douglas, GA', 'Dover, DE', 'Dublin, GA', 'DuBois, PA',
       'Dubuque, IA', 'Duluth, MN-WI', 'Dumas, TX', 'Duncan, OK',
       'Dunn, NC', 'Durango, CO', 'Durant, OK', 'Durham-Chapel Hill, NC',
       'Dyersburg, TN', 'Eagle Pass, TX', 'Easton, MD',
       'East Stroudsburg, PA', 'Eau Claire, WI', 'Edwards, CO',
       'Effingham, IL', 'El Campo, TX', 'El Centro, CA', 'El Dorado, AR',
       'Elizabeth City, NC', 'Elizabethtown-Fort Knox, KY',
       'Elk City, OK', 'Elkhart-Goshen, IN', 'Elkins, WV', 'Elko, NV',
       'Ellensburg, WA', 'Elmira, NY', 'El Paso, TX', 'Emporia, KS',
       'Enid, OK', 'Enterprise, AL', 'Erie, PA', 'Escanaba, MI',
       'Espa�ola, NM', 'Eufaula, AL-GA', 'Eugene, OR',
       'Eureka-Arcata-Fortuna, CA', 'Evanston, WY', 'Evansville, IN-KY',
       'Fairbanks, AK', 'Fairfield, IA', 'Fairmont, MN', 'Fairmont, WV',
       'Fallon, NV', 'Fargo, ND-MN', 'Faribault-Northfield, MN',
       'Farmington, MO', 'Farmington, NM', 'Fayetteville, NC',
       'Fayetteville-Springdale-Rogers, AR-MO', 'Fergus Falls, MN',
       'Fernley, NV', 'Findlay, OH', 'Fitzgerald, GA', 'Flagstaff, AZ',
       'Flint, MI', 'Florence, SC', 'Florence-Muscle Shoals, AL',
       'Fond du Lac, WI', 'Forest City, NC', 'Forrest City, AR',
       'Fort Collins, CO', 'Fort Dodge, IA', 'Fort Leonard Wood, MO',
       'Fort Madison-Keokuk, IA-IL-MO', 'Fort Morgan, CO',
       'Fort Payne, AL', 'Fort Polk South, LA', 'Fort Smith, AR-OK',
       'Fort Wayne, IN', 'Frankfort, IN', 'Frankfort, KY',
       'Fredericksburg, TX', 'Freeport, IL', 'Fremont, NE', 'Fremont, OH',
       'Fresno, CA', 'Gadsden, AL', 'Gaffney, SC', 'Gainesville, FL',
       'Gainesville, GA', 'Gainesville, TX', 'Galesburg, IL',
       'Gallup, NM', 'Garden City, KS', 'Gardnerville Ranchos, NV',
       'Georgetown, SC', 'Gettysburg, PA', 'Gillette, WY', 'Glasgow, KY',
       'Glens Falls, NY', 'Glenwood Springs, CO', 'Gloversville, NY',
       'Goldsboro, NC', 'Grand Forks, ND-MN', 'Grand Island, NE',
       'Grand Junction, CO', 'Grand Rapids, MN',
       'Grand Rapids-Wyoming, MI', 'Grants, NM', 'Grants Pass, OR',
       'Great Bend, KS', 'Great Falls, MT', 'Greeley, CO',
       'Green Bay, WI', 'Greeneville, TN', 'Greenfield Town, MA',
       'Greensboro-High Point, NC', 'Greensburg, IN', 'Greenville, MS',
       'Greenville, NC', 'Greenville, OH',
       'Greenville-Anderson-Mauldin, SC', 'Greenwood, MS',
       'Greenwood, SC', 'Grenada, MS', 'Gulfport-Biloxi-Pascagoula, MS',
       'Guymon, OK', 'Hagerstown-Martinsburg, MD-WV', 'Hailey, ID',
       'Hammond, LA', 'Hanford-Corcoran, CA', 'Hannibal, MO',
       'Harrisburg-Carlisle, PA', 'Harrison, AR', 'Harrisonburg, VA',
       'Hartford-West Hartford-East Hartford, CT', 'Hastings, NE',
       'Hattiesburg, MS', 'Hays, KS', 'Heber, UT', 'Helena, MT',
       'Helena-West Helena, AR', 'Henderson, NC', 'Hereford, TX',
       'Hermiston-Pendleton, OR', 'Hickory-Lenoir-Morganton, NC',
       'Hillsdale, MI', 'Hilo, HI',
       'Hilton Head Island-Bluffton-Beaufort, SC', 'Hinesville, GA',
       'Hobbs, NM', 'Holland, MI', 'Homosassa Springs, FL',
       'Hood River, OR', 'Hope, AR', 'Hot Springs, AR', 'Houghton, MI',
       'Houma-Thibodaux, LA', 'Houston-The Woodlands-Sugar Land, TX',
       'Hudson, NY', 'Huntingdon, PA', 'Huntington, IN',
       'Huntington-Ashland, WV-KY-OH', 'Huntsville, AL', 'Huntsville, TX',
       'Huron, SD', 'Hutchinson, KS', 'Hutchinson, MN', 'Idaho Falls, ID',
       'Indiana, PA', 'Indianapolis-Carmel-Anderson, IN', 'Indianola, MS',
       'Ionia, MI', 'Iowa City, IA', 'Iron Mountain, MI-WI', 'Ithaca, NY',
       'Jackson, MI', 'Jackson, MS', 'Jackson, OH', 'Jackson, TN',
       'Jackson, WY-ID', 'Jacksonville, FL', 'Jacksonville, IL',
       'Jacksonville, NC', 'Jacksonville, TX', 'Jamestown, ND',
       'Jamestown-Dunkirk-Fredonia, NY', 'Janesville-Beloit, WI',
       'Jasper, IN', 'Jefferson, GA', 'Jefferson City, MO',
       'Jennings, LA', 'Jesup, GA', 'Johnson City, TN', 'Johnstown, PA',
       'Jonesboro, AR', 'Joplin, MO', 'Junction City, KS', 'Juneau, AK',
       'Kahului-Wailuku-Lahaina, HI', 'Kalamazoo-Portage, MI',
       'Kalispell, MT', 'Kankakee, IL', 'Kansas City, MO-KS', 'Kapaa, HI',
       'Kearney, NE', 'Keene, NH', 'Kendallville, IN', 'Kennett, MO',
       'Kennewick-Richland, WA', 'Kerrville, TX', 'Ketchikan, AK',
       'Key West, FL', 'Kill Devil Hills, NC', 'Killeen-Temple, TX',
       'Kingsport-Bristol-Bristol, TN-VA', 'Kingston, NY',
       'Kingsville, TX', 'Kinston, NC', 'Kirksville, MO',
       'Klamath Falls, OR', 'Knoxville, TN', 'Kokomo, IN', 'Laconia, NH',
       'La Crosse-Onalaska, WI-MN', 'Lafayette, LA',
       'Lafayette-West Lafayette, IN', 'La Grande, OR', 'LaGrange, GA',
       'Lake Charles, LA', 'Lake City, FL',
       'Lake Havasu City-Kingman, AZ', 'Lakeland-Winter Haven, FL',
       'Lamesa, TX', 'Lancaster, PA', 'Lansing-East Lansing, MI',
       'Laramie, WY', 'Laredo, TX', 'Las Cruces, NM', 'Las Vegas, NM',
       'Las Vegas-Henderson-Paradise, NV', 'Laurel, MS', 'Laurinburg, NC',
       'Lawrence, KS', 'Lawrenceburg, TN', 'Lawton, OK', 'Lebanon, MO',
       'Lebanon, PA', 'Levelland, TX', 'Lewisburg, PA', 'Lewisburg, TN',
       'Lewiston, ID-WA', 'Lewiston-Auburn, ME', 'Lewistown, PA',
       'Lexington, NE', 'Lexington-Fayette, KY', 'Liberal, KS',
       'Lima, OH', 'Lincoln, IL', 'Lincoln, NE',
       'Little Rock-North Little Rock-Conway, AR', 'Lock Haven, PA',
       'Logan, UT-ID', 'Logan, WV', 'Logansport, IN', 'London, KY',
       'Longview, TX', 'Longview, WA', 'Los Alamos, NM',
       'Los Angeles-Long Beach-Anaheim, CA',
       'Louisville/Jefferson County, KY-IN', 'Lubbock, TX',
       'Ludington, MI', 'Lufkin, TX', 'Lumberton, NC', 'Lynchburg, VA',
       'Macomb, IL', 'Macon-Bibb County, GA', 'Madera, CA', 'Madison, IN',
       'Madison, WI', 'Madisonville, KY', 'Magnolia, AR', 'Malone, NY',
       'Malvern, AR', 'Manchester-Nashua, NH', 'Manhattan, KS',
       'Manitowoc, WI', 'Mankato-North Mankato, MN', 'Mansfield, OH',
       'Marietta, OH', 'Marinette, WI-MI', 'Marion, IN', 'Marion, NC',
       'Marion, OH', 'Marquette, MI', 'Marshall, MN', 'Marshall, MO',
       'Marshall, TX', 'Marshalltown, IA', 'Martin, TN',
       'Martinsville, VA', 'Maryville, MO', 'Mason City, IA',
       'Mayfield, KY', 'Maysville, KY', 'McAlester, OK',
       'McAllen-Edinburg-Mission, TX', 'McComb, MS', 'McMinnville, TN',
       'McPherson, KS', 'Meadville, PA', 'Medford, OR',
       'Memphis, TN-MS-AR', 'Menomonie, WI', 'Merced, CA', 'Meridian, MS',
       'Merrill, WI', 'Mexico, MO', 'Miami, OK',
       'Miami-Fort Lauderdale-West Palm Beach, FL',
       'Michigan City-La Porte, IN', 'Middlesborough, KY', 'Midland, MI',
       'Midland, TX', 'Milledgeville, GA',
       'Milwaukee-Waukesha-West Allis, WI', 'Mineral Wells, TX',
       'Minneapolis-St. Paul-Bloomington, MN-WI', 'Minot, ND',
       'Missoula, MT', 'Mitchell, SD', 'Moberly, MO', 'Mobile, AL',
       'Modesto, CA', 'Monroe, LA', 'Monroe, MI', 'Montgomery, AL',
       'Montrose, CO', 'Morehead City, NC', 'Morgan City, LA',
       'Morgantown, WV', 'Morristown, TN', 'Moscow, ID', 'Moses Lake, WA',
       'Moultrie, GA', 'Mountain Home, AR', 'Mountain Home, ID',
       'Mount Airy, NC', 'Mount Pleasant, MI', 'Mount Pleasant, TX',
       'Mount Sterling, KY', 'Mount Vernon, IL', 'Mount Vernon, OH',
       'Mount Vernon-Anacortes, WA', 'Muncie, IN', 'Murray, KY',
       'Muscatine, IA', 'Muskegon, MI', 'Muskogee, OK',
       'Myrtle Beach-Conway-North Myrtle Beach, SC-NC', 'Nacogdoches, TX',
       'Napa, CA', 'Naples-Immokalee-Marco Island, FL',
       'Nashville-Davidson--Murfreesboro--Franklin, TN', 'Natchez, MS-LA',
       'Natchitoches, LA', 'New Bern, NC', 'Newberry, SC',
       'New Castle, IN', 'New Castle, PA', 'New Haven-Milford, CT',
       'New Orleans-Metairie, LA', 'New Philadelphia-Dover, OH',
       'Newport, OR', 'Newport, TN', 'Newton, IA', 'New Ulm, MN',
       'New York-Newark-Jersey City, NY-NJ-PA', 'Niles-Benton Harbor, MI',
       'Nogales, AZ', 'Norfolk, NE', 'North Platte, NE',
       'North Port-Sarasota-Bradenton, FL', 'North Vernon, IN',
       'North Wilkesboro, NC', 'Norwalk, OH', 'Norwich-New London, CT',
       'Oak Harbor, WA', 'Ocala, FL', 'Ocean City, NJ', 'Odessa, TX',
       'Ogden-Clearfield, UT', 'Ogdensburg-Massena, NY', 'Oil City, PA',
       'Okeechobee, FL', 'Oklahoma City, OK', 'Olean, NY',
       'Olympia-Tumwater, WA', 'Omaha-Council Bluffs, NE-IA',
       'Oneonta, NY', 'Ontario, OR-ID', 'Opelousas, LA', 'Orangeburg, SC',
       'Orlando-Kissimmee-Sanford, FL', 'Oshkosh-Neenah, WI',
       'Oskaloosa, IA', 'Othello, WA', 'Ottawa, KS', 'Ottawa-Peru, IL',
       'Ottumwa, IA', 'Owatonna, MN', 'Owensboro, KY', 'Owosso, MI',
       'Oxford, MS', 'Oxford, NC', 'Oxnard-Thousand Oaks-Ventura, CA',
       'Ozark, AL', 'Paducah, KY-IL', 'Pahrump, NV', 'Palatka, FL',
       'Palestine, TX', 'Palm Bay-Melbourne-Titusville, FL', 'Pampa, TX',
       'Panama City, FL', 'Paragould, AR', 'Paris, TN', 'Paris, TX',
       'Parkersburg-Vienna, WV', 'Parsons, KS', 'Payson, AZ', 'Pecos, TX',
       'Pella, IA', 'Pensacola-Ferry Pass-Brent, FL', 'Peoria, IL',
       'Peru, IN', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD',
       'Phoenix-Mesa-Scottsdale, AZ', 'Picayune, MS', 'Pierre, SD',
       'Pine Bluff, AR', 'Pinehurst-Southern Pines, NC', 'Pittsburg, KS',
       'Pittsburgh, PA', 'Pittsfield, MA', 'Plainview, TX',
       'Platteville, WI', 'Plattsburgh, NY', 'Plymouth, IN',
       'Pocatello, ID', 'Point Pleasant, WV-OH', 'Ponca City, OK',
       'Pontiac, IL', 'Poplar Bluff, MO', 'Portales, NM',
       'Port Angeles, WA', 'Port Clinton, OH',
       'Portland-South Portland, ME',
       'Portland-Vancouver-Hillsboro, OR-WA', 'Port Lavaca, TX',
       'Port St. Lucie, FL', 'Portsmouth, OH', 'Pottsville, PA',
       'Prescott, AZ', 'Price, UT', 'Prineville, OR',
       'Providence-Warwick, RI-MA', 'Provo-Orem, UT', 'Pueblo, CO',
       'Pullman, WA', 'Punta Gorda, FL', 'Quincy, IL-MO', 'Racine, WI',
       'Raleigh, NC', 'Rapid City, SD', 'Raymondville, TX', 'Reading, PA',
       'Red Bluff, CA', 'Redding, CA', 'Red Wing, MN', 'Reno, NV',
       'Rexburg, ID', 'Richmond, IN', 'Richmond, VA',
       'Richmond-Berea, KY', 'Rio Grande City, TX',
       'Riverside-San Bernardino-Ontario, CA', 'Riverton, WY',
       'Roanoke, VA', 'Roanoke Rapids, NC', 'Rochelle, IL',
       'Rochester, MN', 'Rochester, NY', 'Rockford, IL', 'Rockingham, NC',
       'Rock Springs, WY', 'Rocky Mount, NC', 'Rolla, MO', 'Rome, GA',
       'Roseburg, OR', 'Roswell, NM', 'Ruidoso, NM', 'Russellville, AR',
       'Ruston, LA', 'Rutland, VT',
       'Sacramento--Roseville--Arden-Arcade, CA', 'Safford, AZ',
       'Saginaw, MI', 'St. Cloud, MN', 'St. George, UT',
       'St. Joseph, MO-KS', 'St. Louis, MO-IL', 'St. Marys, GA',
       'St. Marys, PA', 'Salem, OH', 'Salem, OR', 'Salina, KS',
       'Salinas, CA', 'Salisbury, MD-DE', 'Salt Lake City, UT',
       'San Angelo, TX', 'San Antonio-New Braunfels, TX',
       'San Diego-Carlsbad, CA', 'Sandpoint, ID', 'Sandusky, OH',
       'Sanford, NC', 'San Francisco-Oakland-Hayward, CA',
       'San Jose-Sunnyvale-Santa Clara, CA',
       'San Luis Obispo-Paso Robles-Arroyo Grande, CA',
       'Santa Cruz-Watsonville, CA', 'Santa Fe, NM',
       'Santa Maria-Santa Barbara, CA', 'Santa Rosa, CA',
       'Sault Ste. Marie, MI', 'Savannah, GA', 'Sayre, PA',
       'Scottsbluff, NE', 'Scottsboro, AL',
       'Scranton--Wilkes-Barre--Hazleton, PA', 'Searcy, AR',
       'Seattle-Tacoma-Bellevue, WA', 'Sebastian-Vero Beach, FL',
       'Sebring, FL', 'Sedalia, MO', 'Selinsgrove, PA', 'Selma, AL',
       'Seneca, SC', 'Seneca Falls, NY', 'Sevierville, TN', 'Seymour, IN',
       'Shawano, WI', 'Shawnee, OK', 'Sheboygan, WI', 'Shelby, NC',
       'Shelbyville, TN', 'Shelton, WA', 'Sheridan, WY',
       'Sherman-Denison, TX', 'Show Low, AZ',
       'Shreveport-Bossier City, LA', 'Sidney, OH',
       'Sierra Vista-Douglas, AZ', 'Sikeston, MO', 'Silver City, NM',
       'Sioux City, IA-NE-SD', 'Sioux Falls, SD', 'Snyder, TX',
       'Somerset, KY', 'Somerset, PA', 'Sonora, CA',
       'South Bend-Mishawaka, IN-MI', 'Spartanburg, SC', 'Spearfish, SD',
       'Spencer, IA', 'Spirit Lake, IA', 'Spokane-Spokane Valley, WA',
       'Springfield, IL', 'Springfield, MA', 'Springfield, MO',
       'Springfield, OH', 'Starkville, MS', 'State College, PA',
       'Statesboro, GA', 'Staunton-Waynesboro, VA',
       'Steamboat Springs, CO', 'Stephenville, TX', 'Sterling, CO',
       'Sterling, IL', 'Stevens Point, WI', 'Stillwater, OK',
       'Stockton-Lodi, CA', 'Storm Lake, IA', 'Sturgis, MI',
       'Sulphur Springs, TX', 'Summerville, GA', 'Summit Park, UT',
       'Sumter, SC', 'Sunbury, PA', 'Susanville, CA', 'Sweetwater, TX',
       'Syracuse, NY', 'Tahlequah, OK', 'Talladega-Sylacauga, AL',
       'Tallahassee, FL', 'Tampa-St. Petersburg-Clearwater, FL',
       'Taos, NM', 'Taylorville, IL', 'Terre Haute, IN',
       'Texarkana, TX-AR', 'The Dalles, OR', 'The Villages, FL',
       'Thomaston, GA', 'Thomasville, GA', 'Tiffin, OH', 'Tifton, GA',
       'Toccoa, GA', 'Toledo, OH', 'Topeka, KS', 'Torrington, CT',
       'Traverse City, MI', 'Trenton, NJ', 'Troy, AL',
       'Truckee-Grass Valley, CA', 'Tucson, AZ',
       'Tullahoma-Manchester, TN', 'Tulsa, OK', 'Tupelo, MS',
       'Tuscaloosa, AL', 'Twin Falls, ID', 'Tyler, TX', 'Ukiah, CA',
       'Union City, TN-KY', 'Urbana, OH', 'Urban Honolulu, HI',
       'Utica-Rome, NY', 'Uvalde, TX', 'Valdosta, GA',
       'Vallejo-Fairfield, CA', 'Valley, AL', 'Van Wert, OH',
       'Vermillion, SD', 'Vernal, UT', 'Vernon, TX', 'Vicksburg, MS',
       'Victoria, TX', 'Vidalia, GA', 'Vincennes, IN',
       'Vineland-Bridgeton, NJ', 'Vineyard Haven, MA',
       'Virginia Beach-Norfolk-Newport News, VA-NC',
       'Visalia-Porterville, CA', 'Wabash, IN', 'Waco, TX',
       'Wahpeton, ND-MN', 'Walla Walla, WA', 'Wapakoneta, OH',
       'Warner Robins, GA', 'Warren, PA', 'Warrensburg, MO', 'Warsaw, IN',
       'Washington, IN', 'Washington, NC',
       'Washington-Arlington-Alexandria, DC-VA-MD-WV',
       'Washington Court House, OH', 'Waterloo-Cedar Falls, IA',
       'Watertown, SD', 'Watertown-Fort Atkinson, WI',
       'Watertown-Fort Drum, NY', 'Wauchula, FL', 'Wausau, WI',
       'Waycross, GA', 'Weatherford, OK', 'Weirton-Steubenville, WV-OH',
       'Wenatchee, WA', 'West Plains, MO', 'West Point, MS',
       'Wheeling, WV-OH', 'Whitewater-Elkhorn, WI', 'Wichita, KS',
       'Wichita Falls, TX', 'Williamsport, PA', 'Williston, ND',
       'Willmar, MN', 'Wilmington, NC', 'Wilmington, OH', 'Wilson, NC',
       'Winchester, VA-WV', 'Winnemucca, NV', 'Winona, MN',
       'Winston-Salem, NC', 'Wisconsin Rapids-Marshfield, WI',

In [43]:
cbsa_opinions['sum_of_distances'] = cbsa_opinions['worried_distance_from_natav'] + cbsa_opinions['happening_distance_from_natav']+cbsa_opinions['citizens_distance_from_natav']
cbsa_opinions[cbsa_opinions.sum_of_distances<-500]

Empty DataFrame
Columns: [index, GeoType, GEOID, GeoName, TotalPop, discuss, citizens, regulate, happening, human, worried, discuss_distance_from_natav, regulate_distance_from_natav, citizens_distance_from_natav, happening_distance_from_natav, human_distance_from_natav, worried_distance_from_natav, sum_of_distances]
Index: []

In [40]:
cbsa_opinions.to_csv('Cleaned_Climate_Opinions.csv')

## Census Data

In [2]:
census_age = pd.read_csv('Census_Age_Data.csv')
census_age.head()

,GEO_ID,NAME,S0101_C01_001E,S0101_C01_001M,S0101_C01_002E,S0101_C01_002M,S0101_C01_003E,S0101_C01_003M,S0101_C01_004E,S0101_C01_004M,...,S0101_C06_034E,S0101_C06_034M,S0101_C06_035E,S0101_C06_035M,S0101_C06_036E,S0101_C06_036M,S0101_C06_037E,S0101_C06_037M,S0101_C06_038E,S0101_C06_038M
0,id,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under ...,Margin of Error!!Total!!Total population!!AGE!...,Estimate!!Total!!Total population!!AGE!!5 to 9...,Margin of Error!!Total!!Total population!!AGE!...,Estimate!!Total!!Total population!!AGE!!10 to ...,Margin of Error!!Total!!Total population!!AGE!...,...,Estimate!!Percent Female!!Total population!!SU...,Margin of Error!!Percent Female!!Total populat...,Estimate!!Percent Female!!Total population!!SU...,Margin of Error!!Percent Female!!Total populat...,Estimate!!Percent Female!!Total population!!SU...,Margin of Error!!Percent Female!!Total populat...,Estimate!!Percent Female!!Total population!!PE...,Margin of Error!!Percent Female!!Total populat...,Estimate!!Percent Female!!Total population!!PE...,Margin of Error!!Percent Female!!Total populat...
1,310M500US10140,"Aberdeen, WA Micro Area",75061,*****,3852,669,3260,838,5005,765,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,310M500US10180,"Abilene, TX Metro Area",171795,2878,11570,484,9896,1458,12450,1361,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,310M500US10300,"Adrian, MI Micro Area",98451,*****,5374,347,5210,820,6216,725,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,310M500US10380,"Aguadilla-Isabela, PR Metro Area",288877,3236,10632,1102,14094,1982,14752,2067,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [3]:
def clean_name(row):
    if 'Micro Area' in row:
        new_name = row.replace(' Micro Area', "")
    elif 'Metro Area' in row: 
        new_name = row.replace(' Metro Area', "")
    else: 
        new_name=row
    return new_name

In [4]:
pd.options.display.max_columns=200
census_age.columns = census_age.iloc[0]
census_age = census_age[1:]

census_age.head()

,id,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under 5 years,Margin of Error!!Total!!Total population!!AGE!!Under 5 years,Estimate!!Total!!Total population!!AGE!!5 to 9 years,Margin of Error!!Total!!Total population!!AGE!!5 to 9 years,Estimate!!Total!!Total population!!AGE!!10 to 14 years,Margin of Error!!Total!!Total population!!AGE!!10 to 14 years,Estimate!!Total!!Total population!!AGE!!15 to 19 years,Margin of Error!!Total!!Total population!!AGE!!15 to 19 years,Estimate!!Total!!Total population!!AGE!!20 to 24 years,Margin of Error!!Total!!Total population!!AGE!!20 to 24 years,Estimate!!Total!!Total population!!AGE!!25 to 29 years,Margin of Error!!Total!!Total population!!AGE!!25 to 29 years,Estimate!!Total!!Total population!!AGE!!30 to 34 years,Margin of Error!!Total!!Total population!!AGE!!30 to 34 years,Estimate!!Total!!Total population!!AGE!!35 to 39 years,Margin of Error!!Total!!Total population!!AGE!!35 to 39 years,Estimate!!Total!!Total population!!AGE!!40 to 44 years,Margin of Error!!Total!!Total population!!AGE!!40 to 44 years,Estimate!!Total!!Total population!!AGE!!45 to 49 years,Margin of Error!!Total!!Total population!!AGE!!45 to 49 years,Estimate!!Total!!Total population!!AGE!!50 to 54 years,Margin of Error!!Total!!Total population!!AGE!!50 to 54 years,Estimate!!Total!!Total population!!AGE!!55 to 59 years,Margin of Error!!Total!!Total population!!AGE!!55 to 59 years,Estimate!!Total!!Total population!!AGE!!60 to 64 years,Margin of Error!!Total!!Total population!!AGE!!60 to 64 years,Estimate!!Total!!Total population!!AGE!!65 to 69 years,Margin of Error!!Total!!Total population!!AGE!!65 to 69 years,Estimate!!Total!!Total population!!AGE!!70 to 74 years,Margin of Error!!Total!!Total population!!AGE!!70 to 74 years,Estimate!!Total!!Total population!!AGE!!75 to 79 years,Margin of Error!!Total!!Total population!!AGE!!75 to 79 years,Estimate!!Total!!Total population!!AGE!!80 to 84 years,Margin of Error!!Total!!Total population!!AGE!!80 to 84 years,Estimate!!Total!!Total population!!AGE!!85 years and over,Margin of Error!!Total!!Total population!!AGE!!85 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!16 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!16 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!21 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!21 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!60 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!60 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!62 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!62 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!65 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!65 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!75 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!75 years and over,Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Median age (years),Margin of Error!!Total!!Total population!!SUMMARY INDICATORS!!Median age (years),Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Margin of Error!!Total!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Margin of Error!!Total!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Margin of Error!!Total!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Margin of Error!!Total!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Estimate!!Total!!Total population!!PERCENT ALLOCATED!!Sex,Margin of Error!!Total!!Total population!!PERCENT ALLOCATED!!Sex,Estimate!!Total!!Total population!!PERCENT ALLOCATED!!Age,Margin of Error!!Total!!Total population!!PERCENT ALLOCATED!!Age,Estimate!!Percent!!Total population,Margin of Error!!Percent!!Total population,Estimate!!Percent!!Total population!!AGE!!Under 5 years,Margin of Error!!Percent!!Total population!!AGE!!Under 5 years,Estimate!!Percent!!Total population!!AGE!!5 to 9 years,Margin of Error!!Percent!!Total population!!AGE!!5 to 9 years,Estimate!!Percent!!Total population!!AGE!!10 to 14 years,Margin of Error!!Percent!!Total population!!AGE!!10 to 14 years,Estimate!!Percent!!Total population!!AGE!!15 to 19 years,Margin of Error!!Percent!!Total population!!AGE!!15 to 19 years,Estimate!!Percent!!Total population!!AGE!!20 to 24 years,Margin of Error!!Percent!!Total population!!AGE!!20 to 24 years,Estimate!!Percent!!Total population!!AGE!!25 to 29 years,Margin of Error!!Percent!!Total population!!AGE!!25 to 29 years,Estimate!!Percent!!Total population!!AGE!!30 to 34 years,Margin of Error!!Percent!!Total population!!AGE!!30 to 34 years,Estimate!!Percent!!Total population!!AGE!!35 to 39 years,Margin of Error!!Percent!!Total population!!AGE!!35 to 39 years,Estimate!!Percent!!Total population!!AGE!!40 to 44 years,Margin of Error!!Percent!!Total population!!AGE!!40 to 44 years,Estimate!!Percent!!Total population!!AGE!!45 to 49 years,Margin of Error!!Percent!!Total population!!AGE!!45 to 49 years,...,Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!21 years and over,Margin of Error!!Female!!Total population!!SELECTED AGE CATEGORIES!!21 years and over,Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!60 years and over,Margin of Error!!Female!!Total population!!SELECTED AGE CATEGORIES!!60 years and over,Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!62 years and over,Margin of Error!!Female!!Total population!!SELECTED AGE CATEGORIES!!62 years and over,Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!65 years and over,Margin of Error!!Female!!Total population!!SELECTED AGE CATEGORIES!!65 years and over,Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!75 years and over,Margin of Error!!Female!!Total population!!SELECTED AGE CATEGORIES!!75 years and over,Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Median age (years),Margin of Error!!Female!!Total population!!SUMMARY INDICATORS!!Median age (years),Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Margin of Error!!Female!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Margin of Error!!Female!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Margin of Error!!Female!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Margin of Error!!Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Estimate!!Female!!Total population!!PERCENT ALLOCATED!!Sex,Margin of Error!!Female!!Total population!!PERCENT ALLOCATED!!Sex,Estimate!!Female!!Total population!!PERCENT ALLOCATED!!Age,Margin of Error!!Female!!Total population!!PERCENT ALLOCATED!!Age,Estimate!!Percent Female!!Total population,Margin of Error!!Percent Female!!Total population,Estimate!!Percent Female!!Total population!!AGE!!Under 5 years,Margin of Error!!Percent Female!!Total population!!AGE!!Under 5 years,Estimate!!Percent Female!!Total population!!AGE!!5 to 9 years,Margin of Error!!Percent Female!!Total population!!AGE!!5 to 9 years,Estimate!!Percent Female!!Total population!!AGE!!10 to 14 years,Margin of Error!!Percent Female!!Total population!!AGE!!10 to 14 years,Estimate!!Percent Female!!Total population!!AGE!!15 to 19 years,Margin of Error!!Percent Female!!Total population!!AGE!!15 to 19 years,Estimate!!Percent Female!!Total population!!AGE!!20 to 24 years,Margin of Error!!Percent Female!!Total population!!AGE!!20 to 24 years,Estimate!!Percent Female!!Total population!!AGE!!25 to 29 years,Margin of Error!!Percent Female!!Total population!!AGE!!25 to 29 years,Estimate!!Percent Female!!Total population!!AGE!!30 to 34 years,Margin of Error!!Percent Female!!Total population!!AGE!!30 to 34 years,Estimate!!Percent Female!!Total population!!AGE!!35 to 39 years,Margin of Error!!Percent Female!!Total population!!AGE!!35 to 39 years,Estimate!!Percent Female!!Total population!!AGE!!40 to 44 years,Margin of Error!!Percent Female!!Total population!!AGE!!40 to 44 years,Estimate!!Percent Female!!Total population!!AGE!!45 to 49 years,Margin of Error!!Percent Female!!Total population!!AGE!!45 to 49 years,Estimate!!Percent Female!!Total population!!AGE!!50 to 54 years,Margin of Error!!Percent Female!!Total population!!AGE!!50 to 54 years,Estimate!!Percent Female!!Total population!!AGE!!55 to 59 years,Margin of Error!!Percent Female!!Total population!!AGE!!55 to 59 years,Estimate!!Percent Female!!Total population!!AGE!!60 to 64 years,Margin of Error!!Percent Female!!Total population!!AGE!!60 to 64 years,Estimate!!Percent Female!!Total population!!AGE!!65 to 69 years,Margin of Error!!Percent Female!!Total population!!AGE!!65 to 69 years,Estimate!!Percent Female!!Total population!!AGE!!70 to 74 years,Margin of Error!!Percent Female!!Total population!!AGE!!70 to 74 years,Estimate!!Percent Female!!Total population!!AGE!!75 to 79 years,Margin of Error!!Percent Female!!Total population!!AGE!!75 to 79 years,Estimate!!Percent Female!!Total population!!AGE!!80 to 84 years,Margin of Error!!Percent Female!!Total population!!AGE!!80 to 84 years,Estimate!!Percent Female!!Total population!!AGE!!85 years and over,Margin of Error!!Percent Female!!Total population!!AGE!!85 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!16 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!16 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!18 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!18 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!21 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!21 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!60 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!60 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!62 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!62 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!65 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!65 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!75 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!75 years and over,Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Median age (years),Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Median age (years),Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age
1,310M500US10140,"Aberdeen, WA Micro Area",75061,*****,3852,669,3260,838,5005,765,4828,687,3184,629,4062,406,4529,699,3376,776,4792,885,4867,577,4862,591,5830,1058,5754,1084,4959,969,5643,1003,2950,553,1917,635,1391,594,8265,774,3157,418,15274,*****,4855,517,24771,916,61725,462,59787,*****,57334,734,22614,1062,20596,993,16860,473,6258,261,45.5,0.7,101.9,4.6,74.9,1.9,39.3,1.5,35.6,0.4,(X),(X),(X),(X),(X),(X),5.1,0.9,4.3,1.1,6.7,1.0,6.4,0.9,4.2,0.8,5.4,0.5,6.0,0.9,4.5,1.0,6.4,1.2,6.5,0.8,...,27666,539,11839,699,10804,562,8908,298,3375,222,45.4,0.6,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),6.0,1.6,4.1,1.7,5.7,1.7,9.5,1.6,2.8,1.4,5.0,0.8,5.3,0.9,4.3,1.5,6.6,1.7,6.2,1.0,5.4,0.4,7.3,2.0,7.9,1.9,6.7,1.5,8.2,1.7,3.9,1.0,3.1,1.2,2.1,1.0,9.7,1.1,5.8,1.1,21.5,1.3,6.6,1.0,33.5,1.9,82.6,1.6,78.5,1.3,74.4,1.7,31.8,2.0,29.1,1.6,24.0,0.7,9.1,0.6,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,310M500US10180,"Abilene, TX Metro Area",171795,2878,11570,484,9896,1458,12450,1361,13195,1456,15460,1469,12915,1181,11620,709,11087,1706,11579,1883,7663,895,8459,910,10242,1277,9308,1089,9118,1266,5563,1086,4935,817,2930,668,3805,879,22346,1196,7434,880,41350,1637,21221,1222,75856,2253,134883,2275,130445,2108,121707,2607,35659,1726,31542,1755,26351,1308,11670,1125,34.6,0.5,102.0,3.6,65.0,2.3,25.3,1.5,39.7,1.6,(X),(X),(X),(X),(X),(X),6.7,0.3,5.8,0.8,7.2,0.8,7.7,0.8,9.0,0.8,7.5,0.7,6.8,0.4,6.5,1.0,6.7,1.1,4.5,0.5,...,60557,1687,20069,1063,18092,1012,14964,686,6787,672,36.1,1.4,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),6.7,0.7,5.5,1.3,7.2,1.0,8.1,1.5,8.2,1.3,7.0,0.8,6.3,0.6,6.2,1.1,5.9,1.2,4.4,0.8,5.0,0.7,6.1,1.2,6.0,1.0,5.8,1.0,3.8,0.8,3.2,0.7,2.0,0.6,2.8,0.6,12.7,0.9,4.5,0.7,23.9,1.1,11.7,0.8,41.5,1.2,78.4,1.4,76.1,1.1,71.2,1.8,23.6,1.2,21.3,1.2,17.6,0.8,8.0,0.8,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,310M500US10300,"Adrian, MI Micro Area",98451,*****,5374,347,5210,820,6216,725,6044,362,6519,702,5415,314,5464,458,6610,859,5574,951,6258,447,6191,255,7271,895,7014,819,6131,703,5436,813,4046,644,2071,541,1607,467,11426,290,3722,314,20522,181,8841,660,35626,641,80215,490,77929,181,73986,578,26305,1012,23723,1024,19291,585,7724,236,42.1,0.9,102.1,2.2,67.9,1.5,32.9,1.3,35.0,0.4,(X),(X),(X),(X),(X),(X),5.5,0.4,5.3,0.8,6.3,0.7,6.1,0.4,6.6,0.7,5.5,0.3,5.5,0.5,6.7,0.9,5.7,1.0,6.4,0.5,...,36820,531,14017,607,12888,628,10468,407,4419,144,43.4,0.9,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),5.5,0.5,5.4,1.2,6.7,1.2,5.5,0.3,6.2,1.0,5.7,0.6,4.9,0.4,6.8,1.4,5.1,1.4,6.2,0.5,6.1,0.3,7.1,1.1,7.3,0.9,6.4,1.1,6.0,1.1,4.2,0.9,2.8,0.7,2.1,0.6,12.1,0.7,3.3,0.3,21.0,0.6,8.4,1.0,34.2,0.9,80.5,0.8,79.0,0.6,75.6,0.8,28.8,1.2,26.5,1.2,21.5,0.8,9.1,0.3,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,310M500US10380,"Aguadilla-Isabela, PR Metro Area",288877,3236,10632,1102,14094,1982,14752,2067,17627,1924,21061,2242,15736,1406,17630,2130,17389,2063,18673,2039,17178,1541,19661,931,21639,2435,20565,2339,17020,1668,18335,2053,12547,2025,9928,1921,4410,1043,28846,1632,10035,679,49513,1806,28653,1937,108116,2923,246271,2774,239364,2682,225552,3017,82805,2960,74144,2700,62240,1635,26885,993,44.2,0.7,96.1,2.9,63.1,1.6,35.1,1.2,28.0,1.0,(X),(X),(X),(X),(X),(X),3.7,0.4,4.9,0.7,5.1,0.7,6.1,0.7,7.3,0.8,5.4,0.5,6.1,0.7,6.0,0.7,6.5,0.7,5.9,0.5,...,116443,2192,44522,2234,40863,2022,33406,1173,14681,748,46.0,1.0,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),3.5,0.6,4.9,0.9,4.5,0.8,5.8,1.1,6.9,1.0,4.6,0.6,6.6,1.0,5.3,1.0,6.4,1.0,5.8,0.8,7.8,0.3,7.7,1.2,7.5,1.1,6.1,0.7,6.6,0.9,4.4,0.8,3.6,0.8,2.0,0.5,9.4,0.7,3.0,0.7,15.9,1.1,9.7,1.0,35.6,1.3,86.2,0.9,84.1,1.1,79.0,1.4,30.2,1.6,27.7,1.4,22.7,0.9,10.0,0.5,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
5,310M500US10420,"Akron, OH Metro Area",703479,*****,36735,471,38136,2726,42054,2641,45160,809,52153,1221,47606,1063,43989,1097,39229,2555,41847,2665,42667,1360,44859,930,50281,2999,50942,3072,39755,1784,34932,1909,21535,2038,15171,1598,16428,1993,80190,728,24963,432,141888,632,72350,1166,269984,1448,579116,1572,561591,632,531518,1612,178763,2991,157013,2670,127821,883,53134,851,40.7,0.3,95.2,0.8,62.2,0.4,29.5,0.3,32.7,0.2,(X),(X),(X),(X),(X),(X),5.2,0.1,5.4,0.4,6.0,0.4,6.4,0.1,7.4,0.2,6.8,0.2,6.3,0.2,5.6,0.4,5.9,0.4,6.1,0.2,...,275974,1617,98579,1828,86404,1766,71581,563,31596,470,42.1,0.5,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),4.9,0.1,4.8,0.6,6.0,0.5,6.2,0.2,7.3,0.2,6.4,0.2,6.2,0.3,5.4,0.5,5.9,0.6,6.0,0.2,6.4,0.1,7.0,0.5,7.5,0.5,5.8,0.4,5.3,0.4,3.4,0.4,2.3,0.3,3.0,0.4,10.8,0.3,3.4,0.1,19.1,0.3,10.1,0.2,37.5,0.3,83.4,0.4,80.9,0.3,76.6,0.4,27.3,0.5,24.0,0.5,19.9,0.2,8.8,0.1,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [5]:
census_age['clean_name'] = census_age['Geographic Area Name'].apply(clean_name)
census_age.head()

,id,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under 5 years,Margin of Error!!Total!!Total population!!AGE!!Under 5 years,Estimate!!Total!!Total population!!AGE!!5 to 9 years,Margin of Error!!Total!!Total population!!AGE!!5 to 9 years,Estimate!!Total!!Total population!!AGE!!10 to 14 years,Margin of Error!!Total!!Total population!!AGE!!10 to 14 years,Estimate!!Total!!Total population!!AGE!!15 to 19 years,Margin of Error!!Total!!Total population!!AGE!!15 to 19 years,Estimate!!Total!!Total population!!AGE!!20 to 24 years,Margin of Error!!Total!!Total population!!AGE!!20 to 24 years,Estimate!!Total!!Total population!!AGE!!25 to 29 years,Margin of Error!!Total!!Total population!!AGE!!25 to 29 years,Estimate!!Total!!Total population!!AGE!!30 to 34 years,Margin of Error!!Total!!Total population!!AGE!!30 to 34 years,Estimate!!Total!!Total population!!AGE!!35 to 39 years,Margin of Error!!Total!!Total population!!AGE!!35 to 39 years,Estimate!!Total!!Total population!!AGE!!40 to 44 years,Margin of Error!!Total!!Total population!!AGE!!40 to 44 years,Estimate!!Total!!Total population!!AGE!!45 to 49 years,Margin of Error!!Total!!Total population!!AGE!!45 to 49 years,Estimate!!Total!!Total population!!AGE!!50 to 54 years,Margin of Error!!Total!!Total population!!AGE!!50 to 54 years,Estimate!!Total!!Total population!!AGE!!55 to 59 years,Margin of Error!!Total!!Total population!!AGE!!55 to 59 years,Estimate!!Total!!Total population!!AGE!!60 to 64 years,Margin of Error!!Total!!Total population!!AGE!!60 to 64 years,Estimate!!Total!!Total population!!AGE!!65 to 69 years,Margin of Error!!Total!!Total population!!AGE!!65 to 69 years,Estimate!!Total!!Total population!!AGE!!70 to 74 years,Margin of Error!!Total!!Total population!!AGE!!70 to 74 years,Estimate!!Total!!Total population!!AGE!!75 to 79 years,Margin of Error!!Total!!Total population!!AGE!!75 to 79 years,Estimate!!Total!!Total population!!AGE!!80 to 84 years,Margin of Error!!Total!!Total population!!AGE!!80 to 84 years,Estimate!!Total!!Total population!!AGE!!85 years and over,Margin of Error!!Total!!Total population!!AGE!!85 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!16 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!16 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!21 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!21 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!60 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!60 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!62 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!62 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!65 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!65 years and over,Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!75 years and over,Margin of Error!!Total!!Total population!!SELECTED AGE CATEGORIES!!75 years and over,Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Median age (years),Margin of Error!!Total!!Total population!!SUMMARY INDICATORS!!Median age (years),Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Margin of Error!!Total!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Margin of Error!!Total!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Margin of Error!!Total!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Margin of Error!!Total!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Estimate!!Total!!Total population!!PERCENT ALLOCATED!!Sex,Margin of Error!!Total!!Total population!!PERCENT ALLOCATED!!Sex,Estimate!!Total!!Total population!!PERCENT ALLOCATED!!Age,Margin of Error!!Total!!Total population!!PERCENT ALLOCATED!!Age,Estimate!!Percent!!Total population,Margin of Error!!Percent!!Total population,Estimate!!Percent!!Total population!!AGE!!Under 5 years,Margin of Error!!Percent!!Total population!!AGE!!Under 5 years,Estimate!!Percent!!Total population!!AGE!!5 to 9 years,Margin of Error!!Percent!!Total population!!AGE!!5 to 9 years,Estimate!!Percent!!Total population!!AGE!!10 to 14 years,Margin of Error!!Percent!!Total population!!AGE!!10 to 14 years,Estimate!!Percent!!Total population!!AGE!!15 to 19 years,Margin of Error!!Percent!!Total population!!AGE!!15 to 19 years,Estimate!!Percent!!Total population!!AGE!!20 to 24 years,Margin of Error!!Percent!!Total population!!AGE!!20 to 24 years,Estimate!!Percent!!Total population!!AGE!!25 to 29 years,Margin of Error!!Percent!!Total population!!AGE!!25 to 29 years,Estimate!!Percent!!Total population!!AGE!!30 to 34 years,Margin of Error!!Percent!!Total population!!AGE!!30 to 34 years,Estimate!!Percent!!Total population!!AGE!!35 to 39 years,Margin of Error!!Percent!!Total population!!AGE!!35 to 39 years,Estimate!!Percent!!Total population!!AGE!!40 to 44 years,Margin of Error!!Percent!!Total population!!AGE!!40 to 44 years,Estimate!!Percent!!Total population!!AGE!!45 to 49 years,Margin of Error!!Percent!!Total population!!AGE!!45 to 49 years,...,Margin of Error!!Female!!Total population!!SELECTED AGE CATEGORIES!!21 years and over,Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!60 years and over,Margin of Error!!Female!!Total population!!SELECTED AGE CATEGORIES!!60 years and over,Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!62 years and over,Margin of Error!!Female!!Total population!!SELECTED AGE CATEGORIES!!62 years and over,Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!65 years and over,Margin of Error!!Female!!Total population!!SELECTED AGE CATEGORIES!!65 years and over,Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!75 years and over,Margin of Error!!Female!!Total population!!SELECTED AGE CATEGORIES!!75 years and over,Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Median age (years),Margin of Error!!Female!!Total population!!SUMMARY INDICATORS!!Median age (years),Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Margin of Error!!Female!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Margin of Error!!Female!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Margin of Error!!Female!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Estimate!!Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Margin of Error!!Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Estimate!!Female!!Total population!!PERCENT ALLOCATED!!Sex,Margin of Error!!Female!!Total population!!PERCENT ALLOCATED!!Sex,Estimate!!Female!!Total population!!PERCENT ALLOCATED!!Age,Margin of Error!!Female!!Total population!!PERCENT ALLOCATED!!Age,Estimate!!Percent Female!!Total population,Margin of Error!!Percent Female!!Total population,Estimate!!Percent Female!!Total population!!AGE!!Under 5 years,Margin of Error!!Percent Female!!Total population!!AGE!!Under 5 years,Estimate!!Percent Female!!Total population!!AGE!!5 to 9 years,Margin of Error!!Percent Female!!Total population!!AGE!!5 to 9 years,Estimate!!Percent Female!!Total population!!AGE!!10 to 14 years,Margin of Error!!Percent Female!!Total population!!AGE!!10 to 14 years,Estimate!!Percent Female!!Total population!!AGE!!15 to 19 years,Margin of Error!!Percent Female!!Total population!!AGE!!15 to 19 years,Estimate!!Percent Female!!Total population!!AGE!!20 to 24 years,Margin of Error!!Percent Female!!Total population!!AGE!!20 to 24 years,Estimate!!Percent Female!!Total population!!AGE!!25 to 29 years,Margin of Error!!Percent Female!!Total population!!AGE!!25 to 29 years,Estimate!!Percent Female!!Total population!!AGE!!30 to 34 years,Margin of Error!!Percent Female!!Total population!!AGE!!30 to 34 years,Estimate!!Percent Female!!Total population!!AGE!!35 to 39 years,Margin of Error!!Percent Female!!Total population!!AGE!!35 to 39 years,Estimate!!Percent Female!!Total population!!AGE!!40 to 44 years,Margin of Error!!Percent Female!!Total population!!AGE!!40 to 44 years,Estimate!!Percent Female!!Total population!!AGE!!45 to 49 years,Margin of Error!!Percent Female!!Total population!!AGE!!45 to 49 years,Estimate!!Percent Female!!Total population!!AGE!!50 to 54 years,Margin of Error!!Percent Female!!Total population!!AGE!!50 to 54 years,Estimate!!Percent Female!!Total population!!AGE!!55 to 59 years,Margin of Error!!Percent Female!!Total population!!AGE!!55 to 59 years,Estimate!!Percent Female!!Total population!!AGE!!60 to 64 years,Margin of Error!!Percent Female!!Total population!!AGE!!60 to 64 years,Estimate!!Percent Female!!Total population!!AGE!!65 to 69 years,Margin of Error!!Percent Female!!Total population!!AGE!!65 to 69 years,Estimate!!Percent Female!!Total population!!AGE!!70 to 74 years,Margin of Error!!Percent Female!!Total population!!AGE!!70 to 74 years,Estimate!!Percent Female!!Total population!!AGE!!75 to 79 years,Margin of Error!!Percent Female!!Total population!!AGE!!75 to 79 years,Estimate!!Percent Female!!Total population!!AGE!!80 to 84 years,Margin of Error!!Percent Female!!Total population!!AGE!!80 to 84 years,Estimate!!Percent Female!!Total population!!AGE!!85 years and over,Margin of Error!!Percent Female!!Total population!!AGE!!85 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!16 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!16 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!18 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!18 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!21 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!21 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!60 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!60 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!62 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!62 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!65 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!65 years and over,Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!75 years and over,Margin of Error!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!75 years and over,Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Median age (years),Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Median age (years),Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,clean_name
1,310M500US10140,"Aberdeen, WA Micro Area",75061,*****,3852,669,3260,838,5005,765,4828,687,3184,629,4062,406,4529,699,3376,776,4792,885,4867,577,4862,591,5830,1058,5754,1084,4959,969,5643,1003,2950,553,1917,635,1391,594,8265,774,3157,418,15274,*****,4855,517,24771,916,61725,462,59787,*****,57334,734,22614,1062,20596,993,16860,473,6258,261,45.5,0.7,101.9,4.6,74.9,1.9,39.3,1.5,35.6,0.4,(X),(X),(X),(X),(X),(X),5.1,0.9,4.3,1.1,6.7,1.0,6.4,0.9,4.2,0.8,5.4,0.5,6.0,0.9,4.5,1.0,6.4,1.2,6.5,0.8,...,539,11839,699,10804,562,8908,298,3375,222,45.4,0.6,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),6.0,1.6,4.1,1.7,5.7,1.7,9.5,1.6,2.8,1.4,5.0,0.8,5.3,0.9,4.3,1.5,6.6,1.7,6.2,1.0,5.4,0.4,7.3,2.0,7.9,1.9,6.7,1.5,8.2,1.7,3.9,1.0,3.1,1.2,2.1,1.0,9.7,1.1,5.8,1.1,21.5,1.3,6.6,1.0,33.5,1.9,82.6,1.6,78.5,1.3,74.4,1.7,31.8,2.0,29.1,1.6,24.0,0.7,9.1,0.6,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),"Aberdeen, WA"
2,310M500US10180,"Abilene, TX Metro Area",171795,2878,11570,484,9896,1458,12450,1361,13195,1456,15460,1469,12915,1181,11620,709,11087,1706,11579,1883,7663,895,8459,910,10242,1277,9308,1089,9118,1266,5563,1086,4935,817,2930,668,3805,879,22346,1196,7434,880,41350,1637,21221,1222,75856,2253,134883,2275,130445,2108,121707,2607,35659,1726,31542,1755,26351,1308,11670,1125,34.6,0.5,102.0,3.6,65.0,2.3,25.3,1.5,39.7,1.6,(X),(X),(X),(X),(X),(X),6.7,0.3,5.8,0.8,7.2,0.8,7.7,0.8,9.0,0.8,7.5,0.7,6.8,0.4,6.5,1.0,6.7,1.1,4.5,0.5,...,1687,20069,1063,18092,1012,14964,686,6787,672,36.1,1.4,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),6.7,0.7,5.5,1.3,7.2,1.0,8.1,1.5,8.2,1.3,7.0,0.8,6.3,0.6,6.2,1.1,5.9,1.2,4.4,0.8,5.0,0.7,6.1,1.2,6.0,1.0,5.8,1.0,3.8,0.8,3.2,0.7,2.0,0.6,2.8,0.6,12.7,0.9,4.5,0.7,23.9,1.1,11.7,0.8,41.5,1.2,78.4,1.4,76.1,1.1,71.2,1.8,23.6,1.2,21.3,1.2,17.6,0.8,8.0,0.8,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),"Abilene, TX"
3,310M500US10300,"Adrian, MI Micro Area",98451,*****,5374,347,5210,820,6216,725,6044,362,6519,702,5415,314,5464,458,6610,859,5574,951,6258,447,6191,255,7271,895,7014,819,6131,703,5436,813,4046,644,2071,541,1607,467,11426,290,3722,314,20522,181,8841,660,35626,641,80215,490,77929,181,73986,578,26305,1012,23723,1024,19291,585,7724,236,42.1,0.9,102.1,2.2,67.9,1.5,32.9,1.3,35.0,0.4,(X),(X),(X),(X),(X),(X),5.5,0.4,5.3,0.8,6.3,0.7,6.1,0.4,6.6,0.7,5.5,0.3,5.5,0.5,6.7,0.9,5.7,1.0,6.4,0.5,...,531,14017,607,12888,628,10468,407,4419,144,43.4,0.9,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),5.5,0.5,5.4,1.2,6.7,1.2,5.5,0.3,6.2,1.0,5.7,0.6,4.9,0.4,6.8,1.4,5.1,1.4,6.2,0.5,6.1,0.3,7.1,1.1,7.3,0.9,6.4,1.1,6.0,1.1,4.2,0.9,2.8,0.7,2.1,0.6,12.1,0.7,3.3,0.3,21.0,0.6,8.4,1.0,34.2,0.9,80.5,0.8,79.0,0.6,75.6,0.8,28.8,1.2,26.5,1.2,21.5,0.8,9.1,0.3,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),"Adrian, MI"
4,310M500US10380,"Aguadilla-Isabela, PR Metro Area",288877,3236,10632,1102,14094,1982,14752,2067,17627,1924,21061,2242,15736,1406,17630,2130,17389,2063,18673,2039,17178,1541,19661,931,21639,2435,20565,2339,17020,1668,18335,2053,12547,2025,9928,1921,4410,1043,28846,1632,10035,679,49513,1806,28653,1937,108116,2923,246271,2774,239364,2682,225552,3017,82805,2960,74144,2700,62240,1635,26885,993,44.2,0.7,96.1,2.9,63.1,1.6,35.1,1.2,28.0,1.0,(X),(X),(X),(X),(X),(X),3.7,0.4,4.9,0.7,5.1,0.7,6.1,0.7,7.3,0.8,5.4,0.5,6.1,0.7,6.0,0.7,6.5,0.7,5.9,0.5,...,2192,44522,2234,40863,2022,33406,1173,14681,748,46.0,1.0,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),3.5,0.6,4.9,0.9,4.5,0.8,5.8,1.1,6.9,1.0,4.6,0.6,6.6,1.0,5.3,1.0,6.4,1.0,5.8,0.8,7.8,0.3,7.7,1.2,7.5,1.1,6.1,0.7,6.6,0.9,4.4,0.8,3.6,0.8,2.0,0.5,9.4,0.7,3.0,0.7,15.9,1.1,9.7,1.0,35.6,1.3,86.2,0.9,84.1,1.1,79.0,1.4,30.2,1.6,27.7,1.4,22.7,0.9,10.0,0.5,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),"Aguadilla-Isabela, PR"
5,310M500US10420,"Akron, OH Metro Area",703479,*****,36735,471,38136,2726,42054,2641,45160,809,52153,1221,47606,1063,43989,1097,39229,2555,41847,2665,42667,1360,44859,930,50281,2999,50942,3072,39755,1784,34932,1909,21535,2038,15171,1598,16428,1993,80190,728,24963,432,141888,632,72350,1166,269984,1448,579116,1572,561591,632,531518,1612,178763,2991,157013,2670,127821,883,53134,851,40.7,0.3,95.2,0.8,62.2,0.4,29.5,0.3,32.7,0.2,(X),(X),(X),(X),(X),(X),5.2,0.1,5.4,0.4,6.0,0.4,6.4,0.1,7.4,0.2,6.8,0.2,6.3,0.2,5.6,0.4,5.9,0.4,6.1,0.2,...,1617,98579,1828,86404,1766,71581,563,31596,470,42.1,0.5,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),4.9,0.1,4.8,0.6,6.0,0.5,6.2,0.2,7.3,0.2,6.4,0.2,6.2,0.3,5.4,0.5,5.9,0.6,6.0,0.2,6.4,0.1,7.0,0.5,7.5,0.5,5.8,0.4,5.3,0.4,3.4,0.4,2.3,0.3,3.0,0.4,10.8,0.3,3.4,0.1,19.1,0.3,10.1,0.2,37.5,0.3,83.4,0.4,80.9,0.3,76.6,0.4,27.3,0.5,24.0,0.5,19.9,0.2,8.8,0.1,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),"Akron, OH"

In [6]:
census_age = census_age[['id', 'clean_name', 'Estimate!!Total!!Total population', 
                        'Estimate!!Total!!Total population!!AGE!!15 to 19 years', 'Estimate!!Total!!Total population!!AGE!!20 to 24 years',
                       'Estimate!!Total!!Total population!!AGE!!25 to 29 years','Estimate!!Total!!Total population!!AGE!!30 to 34 years']]

In [7]:
census_age.rename({'Estimate!!Total!!Total population':'total_pop_estimate', 
                   'Estimate!!Total!!Total population!!AGE!!15 to 19 years':'15_to_19',
                  'Estimate!!Total!!Total population!!AGE!!20 to 24 years':'20_to_24', 
                   'Estimate!!Total!!Total population!!AGE!!25 to 29 years':'25_to_29', 
                  'Estimate!!Total!!Total population!!AGE!!30 to 34 years':'30_to_34'}, axis=1, inplace=True)
census_age.head()

,id,clean_name,total_pop_estimate,15_to_19,20_to_24,25_to_29,30_to_34
1,310M500US10140,"Aberdeen, WA",75061,4828,3184,4062,4529
2,310M500US10180,"Abilene, TX",171795,13195,15460,12915,11620
3,310M500US10300,"Adrian, MI",98451,6044,6519,5415,5464
4,310M500US10380,"Aguadilla-Isabela, PR",288877,17627,21061,15736,17630
5,310M500US10420,"Akron, OH",703479,45160,52153,47606,43989

In [8]:
for col in ['total_pop_estimate','15_to_19','20_to_24','25_to_29','30_to_34']:
    census_age[col] = census_age[col].astype(int)

In [9]:
def get_pop_percentage(pop_estimate, subgroup):
    percentage = subgroup/pop_estimate
    return percentage*100

for col in ['15_to_19', '20_to_24', '25_to_29', '30_to_34']:
    census_age[f'{col}_percentage'] = census_age.apply(lambda x: get_pop_percentage(x.total_pop_estimate, x[col]), axis=1)

In [11]:
census_age['total_young_pop'] = census_age['15_to_19'] + census_age['20_to_24']+census_age['25_to_29']+census_age['30_to_34']
census_age['young_pop_percent'] = (census_age.total_young_pop / census_age.total_pop_estimate) *100

In [12]:
census_age

,id,clean_name,total_pop_estimate,15_to_19,20_to_24,25_to_29,30_to_34,15_to_19_percentage,20_to_24_percentage,25_to_29_percentage,30_to_34_percentage,total_young_pop,young_pop_percent
1,310M500US10140,"Aberdeen, WA",75061,4828,3184,4062,4529,6.432102,4.241883,5.411599,6.033759,16603,22.119343
2,310M500US10180,"Abilene, TX",171795,13195,15460,12915,11620,7.680666,8.999098,7.517681,6.763876,53190,30.961320
3,310M500US10300,"Adrian, MI",98451,6044,6519,5415,5464,6.139095,6.621568,5.500198,5.549969,23442,23.810830
4,310M500US10380,"Aguadilla-Isabela, PR",288877,17627,21061,15736,17630,6.101905,7.290646,5.447301,6.102943,72054,24.942796
5,310M500US10420,"Akron, OH",703479,45160,52153,47606,43989,6.419524,7.413583,6.767224,6.253065,188908,26.853396
...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,310M500US49660,"Youngstown-Warren-Boardman, OH-PA",536081,32549,33502,32052,28313,6.071657,6.249429,5.978947,5.281478,126416,23.581511
516,310M500US49700,"Yuba City, CA",175639,11228,10939,14653,11371,6.392658,6.228116,8.342680,6.474075,48191,27.437528
517,310M500US49740,"Yuma, AZ",213787,14941,16812,15489,14538,6.988732,7.863902,7.245062,6.800226,61780,28.897922
518,310M500US49780,"Zanesville, OH",86215,5984,5526,5280,4502,6.940788,6.409558,6.124224,5.221829,21292,24.696399
519,0100000US,United States,328239523,21353524,21468680,23233299,22345176,6.505470,6.540553,7.078154,6.807582,88400679,26.931760

In [17]:
census_age = census_age[census_age.total_young_pop<88000000]

In [18]:
census_age.to_csv('Cleaned_Census_Data.csv')

## School Data

In [2]:
school_df = pd.read_csv('Base_Ed_Spreadsheet.csv')

In [3]:
pd.options.display.max_columns=100
school_df.drop(labels=['number_enrolled_pt', 'open_admissions_policy', 'inst_control', 'institution_level',
                      'inst_category'], axis=1, inplace=True)
school_df.head()

,year,unitid,inst_name,state_name,number_enrolled_ft,hbcu,tribal_college,date_closed,inst_status,open_public,postsec_public_active,inst_size,cc_undergrad_2018,cc_size_setting_2018,dist_progs_all,calendar_system
0,2018,100654,Alabama A & M University,Alabama,1525.0,Yes,No,Not applicable,Active,Yes,Active postsecondary institution,"5,000-9,999","Four-year, nearly all full-time, inclusive acc...","Four-year, medium, highly residential",No,Semester
1,2018,100663,University of Alabama at Birmingham,Alabama,2245.0,No,No,Not applicable,Active,Yes,Active postsecondary institution,"20,000 and above","Four-year, mostly full-time, selective accepta...","Four-year, large, primarily nonresidential",No,Semester
2,2018,100690,Amridge University,Alabama,NaN,No,No,Not applicable,Active,Yes,Active postsecondary institution,"Under 1,000","Four-year, mostly part-time","Four-year, very small, primarily nonresidential",Yes,Semester
3,2018,100706,University of Alabama in Huntsville,Alabama,1428.0,No,No,Not applicable,Active,Yes,Active postsecondary institution,"5,000-9,999","Four-year, nearly all full-time, highly select...","Four-year, medium, primarily nonresidential",No,Semester
4,2018,100724,Alabama State University,Alabama,1025.0,Yes,No,Not applicable,Active,Yes,Active postsecondary institution,"1,000-4,999","Four-year, nearly all full-time, inclusive acc...","Four-year, medium, highly residential",No,Semester

In [4]:
school_df = school_df[~school_df.cc_undergrad_2018.str.contains('mostly part-time')&
                     ~school_df.cc_undergrad_2018.str.contains('Not classified')&
                     ~school_df.cc_undergrad_2018.str.contains('mixed part/full-time')&
                     ~school_df.cc_undergrad_2018.str.contains('not accredited')&
                     ~school_df.cc_size_setting_2018.str.contains('primarily nonresidential')&
                     ~school_df.cc_size_setting_2018.str.contains('very small')]

school_df = school_df[(school_df.state_name == 'Pennsylvania') |(school_df.state_name == 'Massachusetts')| (school_df.state_name == 'New York')|
                     (school_df.state_name == 'District of Columbia')| (school_df.state_name=='California')| (school_df.state_name=='North Carolina')|
                     (school_df.state_name=='Colorado')|(school_df.state_name=='Utah')|(school_df.state_name=='Oregon')|(school_df.state_name=='Illinois')|
                     (school_df.state_name=='Florida')|(school_df.state_name=='Washington') | (school_df.state_name=='New Jersey')]

school_df = school_df[school_df.postsec_public_active == "Active postsecondary institution"]

school_df = school_df[school_df.dist_progs_all == "No"]

In [5]:
school_df.drop(labels=['year', 'date_closed', 'inst_status', 'open_public', 'postsec_public_active', 
                      'dist_progs_all', 'calendar_system'], axis=1, inplace=True)

In [6]:
school_df.shape

(462, 9)

In [7]:
tuition = pd.read_csv('School_Tuition_Breakdown.csv')

In [8]:
tuition = tuition[(tuition.level_of_study == 'Undergraduate') & (tuition.tuition_type!='In district')]
tuition.sort_values(by=['unitid', 'tuition_type'], inplace=True)

In [9]:
tuition.head(10)

,year,unitid,inst_name,state_name,level_of_study,tuition_type,tuition_fees_ft
1,2018,100654,Alabama A & M University,Alabama,Undergraduate,In state,9744.0
2,2018,100654,Alabama A & M University,Alabama,Undergraduate,Out of state,18354.0
7,2018,100663,University of Alabama at Birmingham,Alabama,Undergraduate,In state,8568.0
8,2018,100663,University of Alabama at Birmingham,Alabama,Undergraduate,Out of state,19704.0
13,2018,100690,Amridge University,Alabama,Undergraduate,In state,9900.0
14,2018,100690,Amridge University,Alabama,Undergraduate,Out of state,9900.0
19,2018,100706,University of Alabama in Huntsville,Alabama,Undergraduate,In state,10714.0
20,2018,100706,University of Alabama in Huntsville,Alabama,Undergraduate,Out of state,22362.0
25,2018,100724,Alabama State University,Alabama,Undergraduate,In state,11068.0
26,2018,100724,Alabama State University,Alabama,Undergraduate,Out of state,19396.0

In [10]:
tuition.dropna(inplace=True)
diffs = np.diff(tuition.tuition_fees_ft)

In [11]:
diffs2 = np.insert(diffs, 0, np.nan)
diffs2

array([   nan,  8610., -9786., ...,     0., -5604.,     0.])

In [12]:
tuition['outofstate-instate'] = diffs2

In [13]:
tuition = tuition[tuition.tuition_type=="Out of state"]

In [14]:
tuition

,year,unitid,inst_name,state_name,level_of_study,tuition_type,tuition_fees_ft,outofstate-instate
2,2018,100654,Alabama A & M University,Alabama,Undergraduate,Out of state,18354.0,8610.0
8,2018,100663,University of Alabama at Birmingham,Alabama,Undergraduate,Out of state,19704.0,11136.0
14,2018,100690,Amridge University,Alabama,Undergraduate,Out of state,9900.0,0.0
20,2018,100706,University of Alabama in Huntsville,Alabama,Undergraduate,Out of state,22362.0,11648.0
26,2018,100724,Alabama State University,Alabama,Undergraduate,Out of state,19396.0,8328.0
...,...,...,...,...,...,...,...,...
13629,2018,492689,Texas Tech University Health Sciences Center-E...,Texas,Undergraduate,Out of state,22012.0,13695.0
13635,2018,492759,Chamberlain University-Louisiana,Louisiana,Undergraduate,Out of state,19500.0,0.0
13638,2018,492801,Drury University-College of Continuing Profess...,Missouri,Undergraduate,Out of state,6247.0,0.0
13641,2018,492962,Indiana Institute of Technology-College of Pro...,Indiana,Undergraduate,Out of state,10224.0,0.0
13644,2018,493363,Institute of Lutheran Theology,South Dakota,Undergraduate,Out of state,4620.0,0.0

In [15]:
school_tuition = school_df.merge(tuition, on='unitid', how='left')

In [16]:
school_tuition

,unitid,inst_name_x,state_name_x,number_enrolled_ft,hbcu,tribal_college,inst_size,cc_undergrad_2018,cc_size_setting_2018,year,inst_name_y,state_name_y,level_of_study,tuition_type,tuition_fees_ft,outofstate-instate
0,109785,Azusa Pacific University,California,1107.0,No,No,"10,000-19,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Azusa Pacific University,California,Undergraduate,Out of state,38880.0,0.0
1,110097,Biola University,California,857.0,No,No,"5,000-9,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Biola University,California,Undergraduate,Out of state,40488.0,0.0
2,110361,California Baptist University,California,1570.0,No,No,"10,000-19,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, primarily residential",2018.0,California Baptist University,California,Undergraduate,Out of state,33478.0,0.0
3,110370,California College of the Arts,California,263.0,No,No,"1,000-4,999","Four-year, nearly all full-time, selective acc...","Four-year, small, primarily residential",2018.0,California College of the Arts,California,Undergraduate,Out of state,49138.0,0.0
4,110404,California Institute of Technology,California,231.0,No,No,"1,000-4,999","Four-year, nearly all full-time, highly select...","Four-year, small, highly residential",2018.0,California Institute of Technology,California,Undergraduate,Out of state,52362.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,445188,University of California-Merced,California,NaN,No,No,"5,000-9,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, primarily residential",2018.0,University of California-Merced,California,Undergraduate,Out of state,42530.0,28992.0
458,445708,Johnson & Wales University-Charlotte,North Carolina,486.0,No,No,"1,000-4,999","Four-year, nearly all full-time, inclusive acc...","Four-year, small, highly residential",2018.0,Johnson & Wales University-Charlotte,North Carolina,Undergraduate,Out of state,32091.0,0.0
459,446048,Ave Maria University,Florida,331.0,No,No,"1,000-4,999","Four-year, nearly all full-time, selective acc...","Four-year, small, highly residential",2018.0,Ave Maria University,Florida,Undergraduate,Out of state,20850.0,0.0
460,446604,Uta Mesivta of Kiryas Joel,New York,NaN,No,No,"1,000-4,999","Four-year, nearly all full-time, inclusive acc...","Four-year, small, primarily residential",2018.0,Uta Mesivta of Kiryas Joel,New York,Undergraduate,Out of state,12000.0,0.0
461,446640,Harrisburg University of Science and Technology,Pennsylvania,NaN,No,No,"1,000-4,999","Four-year, nearly all full-time, inclusive acc...","Four-year, medium, highly residential",2018.0,Harrisburg University of Science and Technology,Pennsylvania,Undergraduate,Out of state,23900.0,0.0

In [17]:
geographies = pd.read_excel('School_Geographies.xlsx')

In [18]:
geographies= geographies[geographies.UNITID.isin(school_tuition.unitid.unique())]

In [19]:
geographies.drop(labels=['STREET', 'STFIP', 'CNTY', 'NMCNTY', 'LOCALE', 'CBSATYPE', 'CSA', 'NMCSA', 'NECTA', 'NMNECTA',
                        'CD', 'SLDL', 'SLDU', 'SCHOOLYEAR'], axis=1, inplace=True)

In [20]:
geographies.rename({'UNITID':'unitid'}, axis=1, inplace=True)
geographies.head()

,unitid,NAME,CITY,STATE,ZIP,LAT,LON,CBSA,NMCBSA
213,109785,Azusa Pacific University,Azusa,CA,91702-7000,34.130047,-117.888375,31080,"Los Angeles-Long Beach-Anaheim, CA"
218,110097,Biola University,La Mirada,CA,90639-0001,33.906203,-118.014374,31080,"Los Angeles-Long Beach-Anaheim, CA"
224,110361,California Baptist University,Riverside,CA,92504-3297,33.929321,-117.425619,40140,"Riverside-San Bernardino-Ontario, CA"
225,110370,California College of the Arts,San Francisco,CA,94107-2247,37.767485,-122.399451,41860,"San Francisco-Oakland-Berkeley, CA"
227,110404,California Institute of Technology,Pasadena,CA,91125,34.137349,-118.125878,31080,"Los Angeles-Long Beach-Anaheim, CA"

In [21]:
school_tuition_latlong = school_tuition.merge(geographies, on='unitid', how='left')

In [22]:
school_tuition_latlong

,unitid,inst_name_x,state_name_x,number_enrolled_ft,hbcu,tribal_college,inst_size,cc_undergrad_2018,cc_size_setting_2018,year,inst_name_y,state_name_y,level_of_study,tuition_type,tuition_fees_ft,outofstate-instate,NAME,CITY,STATE,ZIP,LAT,LON,CBSA,NMCBSA
0,109785,Azusa Pacific University,California,1107.0,No,No,"10,000-19,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Azusa Pacific University,California,Undergraduate,Out of state,38880.0,0.0,Azusa Pacific University,Azusa,CA,91702-7000,34.130047,-117.888375,31080,"Los Angeles-Long Beach-Anaheim, CA"
1,110097,Biola University,California,857.0,No,No,"5,000-9,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Biola University,California,Undergraduate,Out of state,40488.0,0.0,Biola University,La Mirada,CA,90639-0001,33.906203,-118.014374,31080,"Los Angeles-Long Beach-Anaheim, CA"
2,110361,California Baptist University,California,1570.0,No,No,"10,000-19,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, primarily residential",2018.0,California Baptist University,California,Undergraduate,Out of state,33478.0,0.0,California Baptist University,Riverside,CA,92504-3297,33.929321,-117.425619,40140,"Riverside-San Bernardino-Ontario, CA"
3,110370,California College of the Arts,California,263.0,No,No,"1,000-4,999","Four-year, nearly all full-time, selective acc...","Four-year, small, primarily residential",2018.0,California College of the Arts,California,Undergraduate,Out of state,49138.0,0.0,California College of the Arts,San Francisco,CA,94107-2247,37.767485,-122.399451,41860,"San Francisco-Oakland-Berkeley, CA"
4,110404,California Institute of Technology,California,231.0,No,No,"1,000-4,999","Four-year, nearly all full-time, highly select...","Four-year, small, highly residential",2018.0,California Institute of Technology,California,Undergraduate,Out of state,52362.0,0.0,California Institute of Technology,Pasadena,CA,91125,34.137349,-118.125878,31080,"Los Angeles-Long Beach-Anaheim, CA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,445188,University of California-Merced,California,NaN,No,No,"5,000-9,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, primarily residential",2018.0,University of California-Merced,California,Undergraduate,Out of state,42530.0,28992.0,University of California-Merced,Merced,CA,95343-5603,37.366237,-120.424944,32900,"Merced, CA"
458,445708,Johnson & Wales University-Charlotte,North Carolina,486.0,No,No,"1,000-4,999","Four-year, nearly all full-time, inclusive acc...","Four-year, small, highly residential",2018.0,Johnson & Wales University-Charlotte,North Carolina,Undergraduate,Out of state,32091.0,0.0,Johnson & Wales University-Charlotte,Charlotte,NC,28202,35.233502,-80.851208,16740,"Charlotte-Concord-Gastonia, NC-SC"
459,446048,Ave Maria University,Florida,331.0,No,No,"1,000-4,999","Four-year, nearly all full-time, selective acc...","Four-year, small, highly residential",2018.0,Ave Maria University,Florida,Undergraduate,Out of state,20850.0,0.0,Ave Maria University,Ave Maria,FL,34142-9505,26.335983,-81.438945,34940,"Naples-Marco Island, FL"
460,446604,Uta Mesivta of Kiryas Joel,New York,NaN,No,No,"1,000-4,999","Four-year, nearly all full-time, inclusive acc...","Four-year, small, primarily residential",2018.0,Uta Mesivta of Kiryas Joel,New York,Undergraduate,Out of state,12000.0,0.0,Uta Mesivta of Kiryas Joel,Monroe,NY,10950,41.333864,-74.161179,39100,"Poughkeepsie-Newburgh-Middletown, NY"
461,446640,Harrisburg University of Science and Technology,Pennsylvania,NaN,No,No,"1,000-4,999","Four-year, nearly all full-time, inclusive acc...","Four-year, medium, highly residential",2018.0,Harrisburg University of Science and Technology,Pennsylvania,Undergraduate,Out of state,23900.0,0.0,Harrisburg University of Science and Technology,Harrisburg,PA,17101-2208,40.261930,-76.880261,25420,"Harrisburg-Carlisle, PA"

In [26]:
def clean_CBSA(row):
    if row == "Raleigh-Cary, NC":
        return "Raleigh, NC"
    elif row == "Sacramento-Roseville-Folsom, CA":
        return "Sacramento--Roseville--Arden-Arcade, CA"
    else:
        return row
    
school_tuition_latlong['NMCBSA'] = school_tuition_latlong['NMCBSA'].apply(clean_CBSA)

In [29]:
school_tuition_latlong[school_tuition_latlong.NMCBSA.str.contains('Raleigh')]

,unitid,inst_name_x,state_name_x,number_enrolled_ft,hbcu,tribal_college,inst_size,cc_undergrad_2018,cc_size_setting_2018,year,inst_name_y,state_name_y,level_of_study,tuition_type,tuition_fees_ft,outofstate-instate,NAME,CITY,STATE,ZIP,LAT,LON,CBSA,NMCBSA
315,198950,Meredith College,North Carolina,401.0,No,No,"1,000-4,999","Four-year, nearly all full-time, selective acc...","Four-year, small, highly residential",2018.0,Meredith College,North Carolina,Undergraduate,Out of state,37176.0,0.0,Meredith College,Raleigh,NC,27607-5298,35.799351,-78.689995,39580,"Raleigh, NC"
323,199193,North Carolina State University at Raleigh,North Carolina,4939.0,No,No,"20,000 and above","Four-year, nearly all full-time, highly select...","Four-year, large, primarily residential",2018.0,North Carolina State University at Raleigh,North Carolina,Undergraduate,Out of state,28444.0,19343.0,North Carolina State University at Raleigh,Raleigh,NC,27695-7001,35.785111,-78.674517,39580,"Raleigh, NC"
328,199643,Shaw University,North Carolina,390.0,Yes,No,"1,000-4,999","Four-year, nearly all full-time, highly select...","Four-year, small, highly residential",2018.0,Shaw University,North Carolina,Undergraduate,Out of state,16480.0,0.0,Shaw University,Raleigh,NC,27601,35.771181,-78.637693,39580,"Raleigh, NC"
329,199759,Southeastern Baptist Theological Seminary,North Carolina,94.0,No,No,"1,000-4,999","Four-year, mostly full-time, inclusive accepta...","Four-year, small, primarily residential",2018.0,Southeastern Baptist Theological Seminary,North Carolina,Undergraduate,Out of state,9394.0,0.0,Southeastern Baptist Theological Seminary,Wake Forest,NC,27587-1889,35.981858,-78.513755,39580,"Raleigh, NC"

In [37]:
out_of_staters = pd.read_csv('Out_of_Staters.csv')

def pick_rows(state_name, res_state):
    if state_name == "Massachusetts":
        if res_state in ["Pennsylvania", 'New Jersey', 'District of Columbia']:
            return 1
    elif state_name == "California":
        if res_state in ["California", "Oregon"]:
            return 1
    elif state_name == "New York":
        if res_state in ["North Carolina"]:
            return 1
    elif state_name == "Colorado":
        if res_state in ["Utah", "Illinois"]:
            return 1
    elif state_name == "Oregon":
        if res_state in ["California"]:
            return 1
    elif state_name == "Pennsylvania":
        if res_state in ["Massachusetts"]:
            return 1
    elif state_name == "New Jersey":
        if res_state in ["Massachusetts"]:
            return 1
    elif state_name == "District of Columbia":
        if res_state in ["Massachusetts"]:
            return 1
    elif state_name == "North Carolina":
        if res_state in ["New York"]:
            return 1
    elif state_name == "Utah":
        if res_state in ["Colorado"]:
            return 1
    elif state_name =="Illinois":
        if res_state in ["Colorado"]:
            return 1
        
        
out_of_staters['include'] = out_of_staters.apply(lambda x: pick_rows(x.state_name, x.state_of_residence), axis=1)

In [38]:
out_of_staters = out_of_staters[out_of_staters.include==1]

In [39]:
out_of_staters.head()

,year,unitid,inst_name,state_name,state_of_residence,type_of_freshman,enrollment_fall,include
3335,2018,108232,Academy of Art University,California,California,Total,203.0,1.0
3338,2018,108232,Academy of Art University,California,Oregon,Total,7.0,1.0
3347,2018,108232,Academy of Art University,California,Oregon,Graduated from HS in past 12 months,5.0,1.0
3387,2018,108232,Academy of Art University,California,California,Graduated from HS in past 12 months,139.0,1.0
3420,2018,109350,Antelope Valley College,California,California,Total,2167.0,1.0

In [40]:
merged_schools_freshmen = school_tuition_latlong.merge(out_of_staters, on="unitid", how="left")

In [45]:
merged_schools_freshmen.head()

,unitid,inst_name_x,state_name_x,number_enrolled_ft,hbcu,tribal_college,inst_size,cc_undergrad_2018,cc_size_setting_2018,year_x,inst_name_y,state_name_y,level_of_study,tuition_type,tuition_fees_ft,outofstate-instate,NAME,CITY,STATE,ZIP,LAT,LON,CBSA,NMCBSA,year_y,inst_name,state_name,state_of_residence,type_of_freshman,enrollment_fall,include
0,109785,Azusa Pacific University,California,1107.0,No,No,"10,000-19,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Azusa Pacific University,California,Undergraduate,Out of state,38880.0,0.0,Azusa Pacific University,Azusa,CA,91702-7000,34.130047,-117.888375,31080,"Los Angeles-Long Beach-Anaheim, CA",2018.0,Azusa Pacific University,California,California,Total,786.0,1.0
1,109785,Azusa Pacific University,California,1107.0,No,No,"10,000-19,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Azusa Pacific University,California,Undergraduate,Out of state,38880.0,0.0,Azusa Pacific University,Azusa,CA,91702-7000,34.130047,-117.888375,31080,"Los Angeles-Long Beach-Anaheim, CA",2018.0,Azusa Pacific University,California,California,Graduated from HS in past 12 months,776.0,1.0
2,109785,Azusa Pacific University,California,1107.0,No,No,"10,000-19,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Azusa Pacific University,California,Undergraduate,Out of state,38880.0,0.0,Azusa Pacific University,Azusa,CA,91702-7000,34.130047,-117.888375,31080,"Los Angeles-Long Beach-Anaheim, CA",2018.0,Azusa Pacific University,California,Oregon,Total,23.0,1.0
3,109785,Azusa Pacific University,California,1107.0,No,No,"10,000-19,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Azusa Pacific University,California,Undergraduate,Out of state,38880.0,0.0,Azusa Pacific University,Azusa,CA,91702-7000,34.130047,-117.888375,31080,"Los Angeles-Long Beach-Anaheim, CA",2018.0,Azusa Pacific University,California,Oregon,Graduated from HS in past 12 months,22.0,1.0
4,110097,Biola University,California,857.0,No,No,"5,000-9,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Biola University,California,Undergraduate,Out of state,40488.0,0.0,Biola University,La Mirada,CA,90639-0001,33.906203,-118.014374,31080,"Los Angeles-Long Beach-Anaheim, CA",2018.0,Biola University,California,California,Graduated from HS in past 12 months,470.0,1.0

In [47]:
merged_schools_freshmen=merged_schools_freshmen[(merged_schools_freshmen.NMCBSA == "Boston-Cambridge-Newton, MA-NH")|
                                               (merged_schools_freshmen.NMCBSA == "Los Angeles-Long Beach-Anaheim, CA")|
                                               (merged_schools_freshmen.NMCBSA == "New York-Newark-Jersey City, NY-NJ-PA")|
                                               (merged_schools_freshmen.NMCBSA == "Denver-Aurora-Lakewood, CO")|
                                               (merged_schools_freshmen.NMCBSA == "Portland-Vancouver-Hillsboro, OR-WA")|
                                               (merged_schools_freshmen.NMCBSA == "Philadelphia-Camden-Wilmington, PA-NJ-DE-MD")|
                                               (merged_schools_freshmen.NMCBSA == "Washington-Arlington-Alexandria, DC-VA-MD-WV")|
                                               (merged_schools_freshmen.NMCBSA == "San Jose-Sunnyvale-Santa Clara, CA")|
                                               (merged_schools_freshmen.NMCBSA == "Raleigh, NC")|
                                               (merged_schools_freshmen.NMCBSA == "Sacramento--Roseville--Arden-Arcade, CA")|
                                               (merged_schools_freshmen.NMCBSA == "Salt Lake City, UT")|
                                               (merged_schools_freshmen.NMCBSA == "Chicago-Naperville-Elgin, IL-IN-WI")]

In [48]:
merged_schools_freshmen.shape

(449, 31)

In [31]:
school_tuition_latlong.to_csv('Schools_All_Info.csv')

In [42]:
out_of_staters.to_csv('out_of_staters_clean.csv')

In [49]:
merged_schools_freshmen.to_csv('merged_schools_and_makeup.csv')

In [50]:
merged_schools_freshmen[merged_schools_freshmen.state_name=="California"]

,unitid,inst_name_x,state_name_x,number_enrolled_ft,hbcu,tribal_college,inst_size,cc_undergrad_2018,cc_size_setting_2018,year_x,inst_name_y,state_name_y,level_of_study,tuition_type,tuition_fees_ft,outofstate-instate,NAME,CITY,STATE,ZIP,LAT,LON,CBSA,NMCBSA,year_y,inst_name,state_name,state_of_residence,type_of_freshman,enrollment_fall,include
0,109785,Azusa Pacific University,California,1107.0,No,No,"10,000-19,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Azusa Pacific University,California,Undergraduate,Out of state,38880.0,0.0,Azusa Pacific University,Azusa,CA,91702-7000,34.130047,-117.888375,31080,"Los Angeles-Long Beach-Anaheim, CA",2018.0,Azusa Pacific University,California,California,Total,786.0,1.0
1,109785,Azusa Pacific University,California,1107.0,No,No,"10,000-19,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Azusa Pacific University,California,Undergraduate,Out of state,38880.0,0.0,Azusa Pacific University,Azusa,CA,91702-7000,34.130047,-117.888375,31080,"Los Angeles-Long Beach-Anaheim, CA",2018.0,Azusa Pacific University,California,California,Graduated from HS in past 12 months,776.0,1.0
2,109785,Azusa Pacific University,California,1107.0,No,No,"10,000-19,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Azusa Pacific University,California,Undergraduate,Out of state,38880.0,0.0,Azusa Pacific University,Azusa,CA,91702-7000,34.130047,-117.888375,31080,"Los Angeles-Long Beach-Anaheim, CA",2018.0,Azusa Pacific University,California,Oregon,Total,23.0,1.0
3,109785,Azusa Pacific University,California,1107.0,No,No,"10,000-19,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Azusa Pacific University,California,Undergraduate,Out of state,38880.0,0.0,Azusa Pacific University,Azusa,CA,91702-7000,34.130047,-117.888375,31080,"Los Angeles-Long Beach-Anaheim, CA",2018.0,Azusa Pacific University,California,Oregon,Graduated from HS in past 12 months,22.0,1.0
4,110097,Biola University,California,857.0,No,No,"5,000-9,999","Four-year, nearly all full-time, selective acc...","Four-year, medium, highly residential",2018.0,Biola University,California,Undergraduate,Out of state,40488.0,0.0,Biola University,La Mirada,CA,90639-0001,33.906203,-118.014374,31080,"Los Angeles-Long Beach-Anaheim, CA",2018.0,Biola University,California,California,Graduated from HS in past 12 months,470.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,243744,Stanford University,California,NaN,No,No,"10,000-19,999","Four-year, nearly all full-time, highly select...","Four-year, large, highly residential",2018.0,Stanford University,California,Undergraduate,Out of state,51354.0,0.0,Stanford University,Stanford,CA,94305,37.429434,-122.167359,41940,"San Jose-Sunnyvale-Santa Clara, CA",2018.0,Stanford University,California,Oregon,Total,25.0,1.0
1038,243744,Stanford University,California,NaN,No,No,"10,000-19,999","Four-year, nearly all full-time, highly select...","Four-year, large, highly residential",2018.0,Stanford University,California,Undergraduate,Out of state,51354.0,0.0,Stanford University,Stanford,CA,94305,37.429434,-122.167359,41940,"San Jose-Sunnyvale-Santa Clara, CA",2018.0,Stanford University,California,California,Graduated from HS in past 12 months,491.0,1.0
1039,243744,Stanford University,California,NaN,No,No,"10,000-19,999","Four-year, nearly all full-time, highly select...","Four-year, large, highly residential",2018.0,Stanford University,California,Undergraduate,Out of state,51354.0,0.0,Stanford University,Stanford,CA,94305,37.429434,-122.167359,41940,"San Jose-Sunnyvale-Santa Clara, CA",2018.0,Stanford University,California,Oregon,Graduated from HS in past 12 months,22.0,1.0
1051,441229,West Coast Ultrasound Institute,California,NaN,No,No,"Under 1,000","Two-year, nearly all full-time","Two-year, small",2018.0,West Coast Ultrasound Institute,California,Undergraduate,Out of state,18600.0,0.0,West Coast Ultrasound Institute,Los Angeles,CA,90010,34.061409,-118.302836,31080,"Los Angeles-Long Beach-Anaheim, CA",2018.0,West Coast Ultrasound Institute,California,California,Total,171.0,1.0
1052,441229,West Coast Ultrasound Institute,California,NaN,No,No,"Under 1,000","Two-year, nearly all full-time","Two-year, small",2018.0,West Coast Ultrasound Institute,California,Undergraduate,Out of state,18600.0,0.0,West Coast Ultrasound Institute,Los Angeles,CA,90010,34.061409,-118.302836,31080,"Los Angeles-Long Beach-Anaheim, CA",2018.0,West Coast Ultrasound Institute,California,California,Graduated from HS in past 12 months,8.0,1.0